﻿@model IntranetSite.ViewModels.CreateEditConteudoViewModel

@{
    ViewBag.Title = "Editar Conteúdo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditConteudo", "FormGen2User", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-9">
            <div class="form-horizontal">
                <h4>@Model.Conteudo.NomeTipoConteudo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Conteudo.Id)
                @Html.HiddenFor(model => model.Conteudo.IUPI)
                @Html.HiddenFor(model => model.Conteudo.IsForEstudante)
                @Html.HiddenFor(model => model.Conteudo.DataCriacao)
                @Html.HiddenFor(model => model.Conteudo.CodigoOrgao)
                @Html.HiddenFor(model => model.Conteudo.NomeTipoConteudo)
                @Html.HiddenFor(model => model.Conteudo.LabelData1)
                @Html.HiddenFor(model => model.Conteudo.LabelDescricao1)


                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Titulo, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Descricao, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataInicioPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataInicioPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataInicioPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataFimPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataFimPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataFimPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelData1", Model.Conteudo.LabelData1, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Data1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Data1, "", new { @class = "text-danger" })
                    </div>
                </div>


                <hr />
                <div class="form-horizontal">
                    <h6> @Html.Label("model.Conteudo.LabelDescricao1", Model.Conteudo.LabelDescricao1, htmlAttributes: new { @class = "control-label col-md-12" })</h6>


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.Descricao1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearPessoasButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.Editor("Pessoa", new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira ou um nome de utilizador ou um número mecanográfico (no formato \"alxxxxx\") válidos..." } })
                                <div class="input-group-append">
                                    <button id="addPessoaButton" class="btn btn-success" type="button">
                                        <span class="fa fa-check"></span>
                                        Validar e Adicionar
                                    </button>
                                </div>
                            </div>
                            @Html.ValidationMessage("Pessoa", "", new { @class = "text-danger", @id = "PessoaValidationMessage" })
                        </div>
                    </div>
                </div>
                <hr />
               

                <div class="form-group">
                    @Html.Label("Ficheiros em anexo", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div id="actions" class="col-md-12">
                        <span class="btn btn-block btn-success fileinput-button dz-clickable">
                            <span class="fa fa-file"></span>
                            Escolher Ficheiro
                        </span>
                        @Html.ValidationMessage("ConteudoAnexoFile", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="table table-striped" id="previews">

                            </div>
                        </div>

                        <div id="tpl">
                            <div id="template" class="file-row">
                                <div>
                                    <p class="name" data-dz-name></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                </div>
                                <div class="text-right">
                                    <button type="button" data-dz-remove class="btn btn-warning remove">
                                        <span class="fa fa-times"></span>
                                        Remover
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



                <div class="form-horizontal">
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-danger" href="@Url.Action("EditConteudos", "Conteudos")">
                                <span class="fa fa-times"></span>
                                Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-plus"></span>
                                Gravar Conteúdo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-3">
            @{
                Html.RenderPartial("CreateEditConteudoPropriedadesPartial", Model);
            }
        </div>
        </div>
       
}

<script>
    $(document).ready(function () {
        var previewWrapper = document.querySelector("#tpl");
        previewWrapper.id = "";
        var previewTemplate = previewWrapper.innerHTML;
        previewWrapper.remove();

        var myDropzone = new Dropzone(document.getElementById("form"), {
            url: "@Url.Action("CreateConteudoAnexoFiles")",
            paramName: "files",
            maxFiles: 10,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            createImageThumbnails: false,
            clickable: ".fileinput-button",

            dictFileTooBig: "O tamanho deste ficheiro é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter este ficheiro (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 10 ficheiro",

            init: function() {
                let myDropzone = this;

                myDropzone.on("success", function (file) {
                    file.previewElement.querySelector(".remove").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFile")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone.options.maxFiles = myDropzone.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetConteudoAnexoFiles")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone.files.push(mockFile);

                        myDropzone.emit("addedfile", mockFile);
                        myDropzone.emit("complete", mockFile);
                        myDropzone.emit("success", mockFile);

                        myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                    });
                });
            }
        });

         $("#addPessoaButton").click(function () {
            $("#PessoaValidationMessage").text("");

            var pessoa = $("#Pessoa").val();

            if (pessoa != "") {
                $.get("@Url.Action("ValidateUsername")", { username: pessoa }, function (data) {
                    if (data == true) {
                        if ($("#Conteudo_Descricao1").val() != "") {
                            pessoa = ";" + pessoa;
                        }

                        $("#Conteudo_Descricao1").val($("#Conteudo_Descricao1").val() + pessoa);
                        $("#Pessoa").val("");
                    }
                    else {
                        $("#PessoaValidationMessage").text("Tem de introduzir um nome de utilizador ou um número mecanográfico (no formato \"alxxxxx\") válidos!");
                    }
                });
            }
            else {
                $("#PessoaValidationMessage").text("Tem de preencher este campo!");
            }
        });

        $("#clearPessoasButton").click(function () {
            $("#Conteudo_Descricao1").val("");
        });


    });
</script>
