﻿@model IEnumerable<IntranetAssemblies.Models.Intranet.AnoLetivo>

@{
    ViewBag.Title = "Anos Letivos";
}

<h2>Anos Letivos</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("CreateAnoLetivo", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Ano Letivo
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @if (item.Ativo == true)
                    {
                        <i class="fa fa-check-circle fa-1.5x" aria-hidden="true" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-times-circle fa-1.5x" aria-hidden="true" style="color:red"></i>
                    }
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditAnoLetivo", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAnoLetivoModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>
    <div class="modal fade" id="deleteAnoLetivoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteAnoLetivoModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem anos letivos para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteAnoLetivoModal").on("show.bs.modal", function (event) {
            var deleteAnoLetivoModalButton = $(event.relatedTarget);
            var anoLetivoID = deleteAnoLetivoModalButton.data("id");

            $("#deleteAnoLetivoModalContent").load("@Url.Action("LoadDeleteAnoLetivoPartial", "Admin")", { id: anoLetivoID });
        });
    });
</script>

