@model IEnumerable<IntranetAssemblies.Models.Intranet.Autorizacao>

@{
    ViewBag.Title = "Autorizações";
}

<h2>Autorizações</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateAutorizacao", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Autorização
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome HTML do item")
            </th>
            <th>
                @Html.DisplayName("URL da página onde se encontra o item")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.Pagina) == true)
                    {
                        <span>Item pertence ao menu lateral</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Pagina)
                    }
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditAutorizacao", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAutorizacaoModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteAutorizacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteAutorizacaoModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem autorizações para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteAutorizacaoModal").on("show.bs.modal", function (event) {
            var deleteAutorizacaoModalButton = $(event.relatedTarget);
            var autorizacaoID = deleteAutorizacaoModalButton.data("id");

            $("#deleteAutorizacaoModalContent").load("@Url.Action("LoadDeleteAutorizacaoPartial", "Admin")", { id: autorizacaoID });
        });
    });
</script>
