﻿@model IEnumerable<IntranetAssemblies.Models.Intranet.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("CreateCategoria", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Categoria
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td style="text-align: right">
                <a class="btn btn-primary" href="@Url.Action("EditCategoria", "Admin", new { id = item.Id })">
                    <span class="fa fa-edit"></span>
                    Editar
                </a>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCategoriaModal" data-id="@item.Id">
                    <span class="fa fa-trash"></span>
                    Eliminar
                </button>
            </td>
        </tr>
        }

    </table>
    <div class="modal fade" id="deleteCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteCategoriaModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem categorias para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteCategoriaModal").on("show.bs.modal", function (event) {
            var deleteCategoriaModalButton = $(event.relatedTarget);
            var categoriaID = deleteCategoriaModalButton.data("id");

            $("#deleteCategoriaModalContent").load("@Url.Action("LoadDeleteCategoriaPartial", "Admin")", { id: categoriaID });
        });
    });
</script>

