@model IntranetAssemblies.Models.Intranet.Grupo

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome do Perfil")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("CreateGrupoPerfil", "Admin", new { nome = Model.Nome }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Dar Permissões" class="btn btn-primary" />
        </div>
    }
</div>
