@model IntranetSite.ViewModels.CreateEditGrupoQuoVadisViewModel

@{
    ViewBag.Title = "Adicionar Grupo do QuoVadis";
}

<h2>Adicionar Grupo do QuoVadis</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Grupo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Grupo do QuoVadis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GrupoQuoVadisID, new SelectList(Model.GruposQuoVadisList, "IdGrupos", "Nome"), "Por favor seleccione um grupo do QuoVadis", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GrupoQuoVadisID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nome do Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Grupo.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-append">
                        <a id="grupoDetailsLink" class="btn btn-outline-secondary disabled" href="#" target="_blank">
                            <span class="fa fa-user"></span>
                            Ver Utilizadores do Grupo
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descrição do Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grupo.Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" href="@Url.Action("GruposQuoVadis", "Admin")">
                    <span class="fa fa-arrow-circle-left"></span>
                    Cancelar
                </a>
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#GrupoQuoVadisID").change(function () {
            if ($("#GrupoQuoVadisID").val() != "") {
                $.post("@Url.Action("CreateGrupoFromGrupoQuoVadis", "Admin")", { grupoQuoVadisID: $("#GrupoQuoVadisID").val() }, function (data) {
                    if (data != "") {
                        $("#Grupo_Nome").val(data.Nome);
                        $("#Grupo_Descricao").val(data.Descricao);

                        $("#grupoDetailsLink").removeClass("disabled");
                        $("#grupoDetailsLink").attr("href", "https://quovadis.utad.pt/Grupos/Details/" + $("#GrupoQuoVadisID").val());
                    }
                    else {
                        resetGrupoDetailsLink();
                    }
                });
            }
            else {
                $("#Grupo_Nome").val("");
                $("#Grupo_Descricao").val("");

                resetGrupoDetailsLink();
            }
        });

        function resetGrupoDetailsLink() {
            $("#grupoDetailsLink").addClass("disabled");
            $("#grupoDetailsLink").attr("href", "#");
        }
    });
</script>
