@model IntranetAssemblies.Models.QuoVadis.Mensagens.Mensagem

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        @if (Model.DataPublicacaoInicio != null)
        {
            <dt>
                @Html.DisplayName("Data de Início da Publicação")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataPublicacaoInicio)
            </dd>
        }

        @if (Model.DataPublicacaoFim != null)
        {
            <dt>
                @Html.DisplayName("Data de Fim da Publicação")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataPublicacaoFim)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Visibilidade)
        </dt>

        <dd>
            @if (Model.Visibilidade == 2)
            {
                <span class="text-warning"><b>Mensagem Para Utilizadores Autenticados</b></span>
            }

            @if (Model.Visibilidade == 3)
            {
                <span class="text-success"><b>Mensagem Pública</b></span>
            }
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteMensagem", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
