@model IntranetAssemblies.Models.Intranet.User

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome de Utilizador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Data da Última Autenticação")
        </dt>

        <dd>
            @if (Model.LastLoginDate != null && Model.LastLoginDate != new DateTime())
            {
                @Html.DisplayFor(modelItem => Model.LastLoginDate)
            }
            else
            {
                <span class="text-warning"><b>Ainda não se autenticou</b></span>
            }
        </dd>

        <dt>
            @Html.DisplayName("Pertence à UTAD")
        </dt>

        <dd>
            @if (Model.IsFromUTAD == true)
            {
                <span class="text-success"><b>Sim</b></span>
            }
            else
            {
                <span class="text-danger"><b>Não (Credenciais Temporárias)</b></span>
            }
        </dd>

    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteUser", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
