﻿@model IntranetAssemblies.Models.Intranet.AnoLetivo

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        @if (Model.DataInicio != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DataInicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataInicio)
            </dd>
        }
        @if (Model.DataInicio != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DataFim)
            </dt>

            <dd>

                @Html.DisplayFor(model => model.DataFim)

            </dd>
        }
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>

            <dd>
                @if (Model.Ativo == true)
                {
                    <i class="fa fa-check-circle fa-1.5x" aria-hidden="true" style="color:green"></i>
                }
                else
                {
                    <i class="fa fa-times-circle fa-1.5x" aria-hidden="true" style="color:red"></i>
                }
            </dd>

        </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteAnoLetivo", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>

