@model IEnumerable<IntranetAssemblies.Models.Intranet.Grupo>

@{
    ViewBag.Title = "Grupos do QuoVadis";
}

<h2>Grupos do QuoVadis</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateGrupoQuoVadis", "Admin")">
        <span class="fa fa-plus"></span>
        Adicionar Grupo do QuoVadis
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Grupo do QuoVadis")
            </th>
            <th>
                @Html.DisplayName("Descrição do Grupo")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditGrupoQuoVadis", "Admin", new { id = item.Id })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteGrupoQuoVadisModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteGrupoQuoVadisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteGrupoQuoVadisModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem grupos para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteGrupoQuoVadisModal").on("show.bs.modal", function (event) {
            var deleteGrupoQuoVadisModalButton = $(event.relatedTarget);
            var grupoQuoVadisID = deleteGrupoQuoVadisModalButton.data("id");

            $("#deleteGrupoQuoVadisModalContent").load("@Url.Action("LoadDeleteGrupoQuoVadisPartial", "Admin")", { id: grupoQuoVadisID });
        });
    });
</script>
