@model IEnumerable<IntranetAssemblies.Models.Intranet.Parametro>

@{
    ViewBag.Title = "Parâmetros";
}

<h2>Parâmetros</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateParametro", "Admin")">
        <span class="fa fa-plus"></span>
        Criar Parâmetro
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Chave Identificadora")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayName("Valor Adicional 1")
            </th>
            <th>
                @Html.DisplayName("Valor Adicional 2")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor2)
                </td>
                <td style="text-align: right">
                    <a class="btn btn-primary" href="@Url.Action("EditParametro", "Admin", new { chave = item.Chave })">
                        <span class="fa fa-edit"></span>
                        Editar
                    </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteParametroModal" data-id="@item.Chave">
                        <span class="fa fa-trash"></span>
                        Eliminar
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteParametroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteParametroModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem parâmetros para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteParametroModal").on("show.bs.modal", function (event) {
            var deleteParametroModalButton = $(event.relatedTarget);
            var parametroChave = deleteParametroModalButton.data("id");

            $("#deleteParametroModalContent").load("@Url.Action("LoadDeleteParametroPartial", "Admin")", { chave: parametroChave });
        });
    });
</script>
