@model IEnumerable<IntranetAssemblies.Models.Intranet.User>

@{
    ViewBag.Title = "Log de Utilizadores";
}

<h2>Log de Utilizadores</h2>

<hr />

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateCredenciaisTemporarias", "Admin")">
        <span class="fa fa-user-plus"></span>
        Criar Credenciais Temporárias
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nome de Utilizador")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IUPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayName("Data da Última Autenticação")
            </th>
            <th>
                @Html.DisplayName("Pertence à UTAD")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IUPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @if (item.LastLoginDate != null && item.LastLoginDate != new DateTime())
                    {
                        @Html.DisplayFor(modelItem => item.LastLoginDate)
                    }
                    else
                    {
                        <span class="text-warning"><b>Ainda não se autenticou</b></span>
                    }
                </td>
                <td>
                    @if (item.IsFromUTAD == true)
                    {
                        <span class="text-success"><b>Sim</b></span>
                    }
                    else
                    {
                        <span class="text-danger"><b>Não (Credenciais Temporárias)</b></span>
                    }
                </td>
                <td style="text-align: right">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal" data-id="@item.Id">
                        <span class="fa fa-trash"></span>
                        Eliminar Log
                    </button>
                </td>
            </tr>
        }

    </table>

    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="deleteUserModalContent" class="modal-content">

            </div>
        </div>
    </div>
}
else
{
    <p>
        <b>Não existem utilizadores para apresentar!</b>
    </p>
}

<script>
    $(document).ready(function () {
        $("#deleteUserModal").on("show.bs.modal", function (event) {
            var deleteUserModalButton = $(event.relatedTarget);
            var userID = deleteUserModalButton.data("id");

            $("#deleteUserModalContent").load("@Url.Action("LoadDeleteUserPartial", "Admin")", { id: userID });
        });
    });
</script>
