﻿@model IEnumerable<IntranetSite.ViewModels.CreateEditConteudosViewModel>

@{
    ViewBag.Title = "Criar Conteúdos";
}


<h2>@ViewBag.Title</h2>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="list-group">
                <a data-toggle="collapse" href="@string.Concat("#orgaoCollapse", item.Orgao.Id)" role="button" class="list-group-item list-group-item-action active">
                    @item.Orgao.Nome
                    <div class="float-right">
                        <span class="btn btn-primary fa fa-address-card fa-lg float-left" data-toggle="modal" data-target="#editContactoModal" data-id="@item.Orgao.Id">
                        </span>
                        <span class="float-right">
                            <span class="fa fa-angle-double-down"></span>
                        </span>
                    </div>
                </a>
                @*<div id="@string.Concat("orgaoCollapse", item.Orgao.Id)" class="collapse">
            @foreach (var itemTipoConteudo in item.TiposConteudosList)
            {
                <a href="@Url.Action("CreateConteudo", itemTipoConteudo.IntranetCreateConteudoForm, new { idTipoConteudo = itemTipoConteudo.Id, idOrgao = item.Orgao.Id })" class="list-group-item list-group-item-action">
                    @itemTipoConteudo.Nome
                    <span class="float-right">
                        <span class="fa fa-plus"></span>
                    </span>
                </a>
            }
        </div>*@
                <div id="@string.Concat("orgaoCollapse", item.Orgao.Id)" class="collapse">
                    @foreach (var itemTipoConteudo in item.TiposConteudosList)
                    {
                        if (itemTipoConteudo.Id == 17)
                        {
                    <div class="list-group">
                        <a data-toggle="collapse" href="@string.Concat("#tipoConteudoCollapse", itemTipoConteudo.Id)" @*role="button"*@ class="list-group-item list-group-item-action">
                            @itemTipoConteudo.Nome
                            <span class="float-right">
                                <span class="fa fa-angle-double-down"></span>
                            </span>
                        </a>
                        @foreach (var anoLetivo in item.anoLetivos)
                        {
                            <div id="@string.Concat("tipoConteudoCollapse", itemTipoConteudo.Id)" class="collapse">
                                <a href="@Url.Action("CreateConteudo", itemTipoConteudo.IntranetCreateConteudoForm, new { idTipoConteudo = itemTipoConteudo.Id, idOrgao = item.Orgao.Id, ano=anoLetivo.Ano})" class="list-group-item list-group-item-action">
                                    @anoLetivo.Ano
                                    <span class="float-right">
                                        <span class="fa fa-plus"></span>
                                    </span>
                                </a>
                            </div>
                        }
                        </div>
                        }
                        else
                        {
                        <a href="@Url.Action("CreateConteudo", itemTipoConteudo.IntranetCreateConteudoForm, new { idTipoConteudo = itemTipoConteudo.Id, idOrgao = item.Orgao.Id })" class="list-group-item list-group-item-action">
                            @itemTipoConteudo.Nome
                            <span class="float-right">
                                <span class="fa fa-plus"></span>
                            </span>
                        </a>
                        }

                        }
                    </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="editContactoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div id="editContactoModalContent" class="modal-content">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#editContactoModal").on("show.bs.modal", function (event) {
            var editContactoModalButton = $(event.relatedTarget);
            var id = editContactoModalButton.data("id");

            $("#editContactoModalContent").load("@Url.Action("LoadEditContactos","Contactos")", { idOrgao: id });
        });
    });
</script>
