﻿@model IntranetAssemblies.Models.Intranet.Conteudo

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Conteúdo</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        Tem a certeza que deseja eliminar este conteúdo?
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteConteudo", "Conteudos"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DataCriacao)
            @Html.HiddenFor(model => model.IdTipoConteudo)
            @Html.HiddenFor(model => model.IdOrgao)
            @Html.HiddenFor(model => model.CodigoOrgao)

            <button type="submit" class="btn btn-danger">
                <span class="fa fa-trash"></span>
                Eliminar
            </button>
        </div>
    }
</div>
