﻿@model IEnumerable<IntranetSite.ViewModels.CreateEditConteudosViewModel>

@{
    ViewBag.Title = "Documentos";
}


<h2>@ViewBag.Title</h2>

@if (ViewBag.TipoConteudo != null)
{
    <h4>@string.Concat(ViewBag.TipoConteudo)</h4>
  
}

<hr />
@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="list-group">
                    <a data-toggle="collapse" href="@string.Concat("#orgaoCollapse", item.Orgao.Id)" role="button" class="list-group-item list-group-item-action active">
                        @item.Orgao.Nome
                        <span class="float-right">
                            <span class="fa fa-angle-double-down"></span>
                        </span>
                    </a>
                    <div id="@string.Concat("orgaoCollapse", item.Orgao.Id)" class="collapse">
                        @foreach (var itemTipoConteudo in item.TiposConteudosList)
                        {
                            <a href="@Url.Action("ListConteudos", "Conteudos", new { idTipoConteudo = itemTipoConteudo.Id, idOrgao = item.Orgao.Id })" class="list-group-item list-group-item-action">
                                @itemTipoConteudo.Nome
                                <span class="float-right">
                                    <span class="fa fa-search"></span>
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
<div>
        Não existem conteúdos para apresentar.
</div>
}

