﻿@model IntranetSite.ViewModels.ListConteudosViewModel

@{
                /**/

                ViewBag.Title = "Conteúdos";
}

@*<h2>@ViewBag.Title</h2>

    <h4>@string.Concat(Model.TipoConteudo.Nome, " - ", Model.Orgao.Nome)</h4>*@
@*<hr />*@

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">
                <span class="fa fa-home"></span>
                Intranet
            </a>
        </li>
        <li class="breadcrumb-item active">
            @Model.Orgao.Nome
        </li>
        <li class="breadcrumb-item active">
            @Model.TipoConteudo.Nome
        </li>
        @if (Model.Ano != "")
        {
            <li class="breadcrumb-item active">
                @Model.Ano
            </li>
        }

    </ol>
</nav>

<div class="row" align="right">
    @*<div align="right" class="col-md-2" style="font-size:15px;color:#0096c4!important">Ano: </div>*@
    <div align="left" class="col-md-2">
        <div class="dropdown">

            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                @Model.AnosList.Where(x => x.Valor == Model.Ano).First().Nome
            </button>
            <div class="dropdown-menu">

                @foreach (var item in Model.AnosList)
                {
                    if (item.Valor != "")
                    {
                        <a class="dropdown-item" href="@Url.Action("ListConteudos", "Conteudos", new { idTipoConteudo=Model.TipoConteudo.Id, idOrgao=Model.Orgao.Id, ano = item.Valor})">@item.Nome</a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="@Url.Action("ListConteudos", "Conteudos", new { idTipoConteudo=Model.TipoConteudo.Id, idOrgao=Model.Orgao.Id})">@item.Nome</a>
                    }

                }
            </div>
        </div>
    </div>
</div>
<br />
@if (Model.ConteudosList.Count > 0)
{

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Título")
                </th>
                <th>
                    @Html.DisplayName("Criado Por")
                </th>
                <th>
                    @Html.DisplayName("Data de Criação")
                </th>
                <th>
                    @Html.DisplayName("Tipo de Conteúdo")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ConteudosList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsernameCriacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCriacao)
                    </td>

                    @if (item.IdTipoConteudo == 17)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => Model.TipoConteudo.Nome) -   @Html.DisplayFor(modelItem => item.Titulo1)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => Model.TipoConteudo.Nome)
                        </td>
                    }

                    <td class="text-right">
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#detailsConteudoModal" data-id="@item.Id" data-intranetdetailsconteudoform="@Model.TipoConteudo.IntranetDetailsConteudoForm">
                            <span class="fa fa-search"></span>
                        </button>
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="modal fade" id="detailsConteudoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" id="detailsConteudoModalDialog">
            <div id="detailsConteudoModalContent" class="modal-content">

            </div>

        </div>
        <div class="modal-dialog modal-dialog-centered text-center" role="document" id="loader" style="display:none">
            <div style="padding-left: 250px; padding-right: 250px; ">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        Não existem conteúdos para apresentar.
    </div>
}

<script>
    $(document).ready(function () {

        $("#detailsConteudoModal").on("hidden.bs.modal", function () {
            $('#detailsConteudoModalContent').empty();
        });

        $("#detailsConteudoModal").on("show.bs.modal", function (event) {
            var detailsConteudoModalButton = $(event.relatedTarget);
            var id = detailsConteudoModalButton.data("id");
            var intranetDetailsConteudoForm = detailsConteudoModalButton.data("intranetdetailsconteudoform");


            $('#detailsConteudoModalDialog').fadeOut();
            $('#loader').fadeIn();

            setTimeout(function () {
            $("#detailsConteudoModalContent").load("@Url.Action("LoadDetailsConteudoPartials")", { id: id, intranetDetailsConteudoForm: intranetDetailsConteudoForm }, function () {

                $('#detailsConteudoModalDialog').fadeIn();
                $('#loader').fadeOut();
            });
            }, 300);
        });
    });
</script>
