﻿@model IntranetSite.ViewModels.SelectConteudoViewModel

@{
    ViewBag.Title = "Editar Conteúdos";
}

<h2>@ViewBag.Title</h2>

<h4>@string.Concat(Model.ConteudosTipoConteudo.Nome, " - ", Model.ConteudosNomeOrgao)</h4>
<hr />

<ul class="nav nav-tabs nav-fill" id="selectConteudoTabs" role="tablist">
    @foreach (var item in Model.ConteudosEstadosList)
    {
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("selectConteudo", item.Valor, "Tab")" data-toggle="tab" href="@string.Concat("#selectConteudo", item.Valor)" role="tab">
                @item.Nome
            </a>
        </li>
    }
</ul>

<div class="tab-content" id="myTabContent">
    @for (int i = 0; i < Model.ConteudosEstadosList.Count; i++)
    {
        <div class="tab-pane fade" id="@string.Concat("selectConteudo", Model.ConteudosEstadosList[i].Valor)" role="tabpanel">
            @if (Model.ConteudosLists[i].Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("Título")
                            </th>
                            <th>
                                @Html.DisplayName("Criado Por")
                            </th>
                            <th>
                                @Html.DisplayName("Data de Criação")
                            </th>
                            @if (Model.ConteudosTipoConteudo.Id==17)
                            {
                            <th>
                                @Html.DisplayName("Ano Letivo")
                            </th>
                            }
                            <th></th>
                        </tr>

                        @foreach (var item in Model.ConteudosLists[i])
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsernameCriacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCriacao)
                            </td>
                            @if (Model.ConteudosTipoConteudo.Id == 17)
                            {
                            <th>
                                @Html.DisplayFor(modelItem => item.Titulo1)
                            </th>
                            }
                            <td class="text-right">
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#detailsConteudoModal" data-id="@item.Id">
                                    <span class="fa fa-search"></span>
                                </button>
                                <a class="btn btn-primary" href="@Url.Action("EditConteudo", Model.ConteudosTipoConteudo.IntranetEditConteudoForm, new { id = item.Id })">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConteudoModal" data-id="@item.Id">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            }
            else
            {
                <div>
                    Não existem conteúdos para apresentar. Crie conteúdos clicando no botão <b><span class="fa fa-plus"></span> Criar Conteúdos</b>.
                </div>
            }
        </div>
    }
</div>

<div class="modal fade" id="detailsConteudoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" id="detailsConteudoModalDialog">
        <div id="detailsConteudoModalContent" class="modal-content">

        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered text-center" role="document" id="loader" style="display:none">
        <div style="padding-left: 250px; padding-right: 250px; ">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConteudoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="deleteConteudoModalContent" class="modal-content">

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $("#detailsConteudoModal").on("hidden.bs.modal", function () {
            $('#detailsConteudoModalContent').empty();
        });

        $("#selectConteudoTabs li:first-child a").tab("show");

        $("#detailsConteudoModal").on("show.bs.modal", function (event) {
            var detailsConteudoModalButton = $(event.relatedTarget);
            var id = detailsConteudoModalButton.data("id");

            $('#detailsConteudoModalDialog').fadeOut();
            $('#loader').fadeIn();

            setTimeout(function () {
                $("#detailsConteudoModalContent").load("@Url.Action("LoadDetailsConteudoPartial", Model.ConteudosTipoConteudo.IntranetDetailsConteudoForm)", { id: id }, function () {

                    $('#detailsConteudoModalDialog').fadeIn();
                    $('#loader').fadeOut();
                });
            }, 300);
        });

        $("#deleteConteudoModal").on("show.bs.modal", function (event) {
            var deleteConteudoModalButton = $(event.relatedTarget);
            var id = deleteConteudoModalButton.data("id");

            $("#deleteConteudoModalContent").load("@Url.Action("LoadDeleteConteudoPartial", "Conteudos")", { id: id });
        });
    });
</script>
