@model IEnumerable<IntranetSite.ViewModels.LoadEstudantePerfilViewModel>

@{
    ViewBag.Title = "Escolher Matrícula";
}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="offset-md-4 col-md-4">
        <div class="card border-info">
            <div class="card-header text-info">
                <h3>Escolher Matrícula</h3>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <img id="utad-logo" src="~/Content/Images/logo_utad_completo_preto.png" style="width: 50%">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @foreach (var item in Model)
                            {
                                using (Html.BeginForm("LoadEstudantePerfil", "Session"))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.Hidden("Nome", item.Nome)
                                    @Html.Hidden("CodCurso", item.CodCurso)
                                    @Html.Hidden("NomeAcesso", item.NomeAcesso)

                                    <div class="form-actions no-color">
                                        <input type="submit" value="@item.Curso" class="list-group-item list-group-item-action" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
