@using System.Configuration;

@model IntranetSite.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Iniciar Sessão";
}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == true)
    {
        <div id="authUTADCard" class="offset-md-1 col-md-4" style="display: none">
            <div class="card border-info">
                <div class="card-header text-info">
                    <h3>Autenticação com uma conta da UTAD <span style="font-size: 13px">(*utad.pt/*utad.eu)</span></h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    <img id="ctl00_idDigital" src="~/Content/Images/logo_utad_completo_preto.png" style="width: 50%">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.LoginCredenciais.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome de Utilizador (sem @utad.pt ou @utad.eu)" } })
                                    @Html.ValidationMessageFor(model => model.LoginCredenciais.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.PasswordFor(model => model.LoginCredenciais.Password, new { @class = "form-control", @placeholder = "Palavra-Passe" })
                                    @Html.ValidationMessageFor(model => model.LoginCredenciais.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Entrar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.CredenciaisTemporarias"]) == true)
    {
        <div id="authCredenciaisTemporariasCard" class="offset-md-1 col-md-5" style="display: none">
            <div class="card border-info">
                <div class="card-header text-info">
                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == true)
                    {
                        <h3>Autentique-se aqui se não tem uma conta da UTAD, ou criou uma conta nesta aplicação</h3>
                    }
                    else
                    {
                        <h3>Autenticação</h3>
                    }
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("LoginCredenciaisTemporarias", "Session"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.LoginCredenciaisTemporarias.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome de Utilizador" } })
                                    @Html.ValidationMessageFor(model => model.LoginCredenciaisTemporarias.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.PasswordFor(model => model.LoginCredenciaisTemporarias.Password, new { @class = "form-control", @placeholder = "Palavra-Passe" })
                                    @Html.ValidationMessageFor(model => model.LoginCredenciaisTemporarias.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Entrar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.CredenciaisTemporarias.Registo"]) == true)
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <hr />
                                <h6>Não tem uma conta?</h6>
                                <h6>Clique aqui neste botão para efetuar o seu registo temporário.</h6>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.ActionLink("Efetuar Registo", "RegistarCredenciaisTemporarias", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    }

                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.CredenciaisTemporarias.Recuperacao"]) == true)
                    {
                        using (Html.BeginForm("RecuperarCredenciaisTemporarias", "Session"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <hr />
                                        <h6>Esqueceu-se da sua palavra-passe?</h6>
                                        <h6>Introduza aqui o seu endereço de e-mail, ou o seu nome de utilizador, para receber um e-mail de recuperação na sua caixa de correio electrónico.</h6>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.EmailRecuperarCredenciaisTemporarias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Endereço de e-mail/Nome de utilizador" } })
                                        @Html.ValidationMessageFor(model => model.EmailRecuperarCredenciaisTemporarias, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Enviar E-mail de Recuperação" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        @if(Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == true && Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.CredenciaisTemporarias"]) == false)
        {
            <text>
                $("#authUTADCard").removeClass();
                $("#authUTADCard").addClass("offset-md-4 col-md-4");
            </text>
        }
        else if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == false && Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.CredenciaisTemporarias"]) == true) {
            <text>
                $("#authCredenciaisTemporariasCard").removeClass();
                $("#authCredenciaisTemporariasCard").addClass("offset-md-4 col-md-4");
            </text>
        }

        $("#authUTADCard").show();
        $("#authCredenciaisTemporariasCard").show();
    });
</script>
