@using CaptchaMvc.HtmlHelpers;

@using IntranetSite.App_Start;

@model IntranetAssemblies.Models.RegistoCredenciaisTemporarias

@{
    ViewBag.Title = "Efetuar Registo";
}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="offset-md-4 col-md-4">
        <div class="card border-info">
            <div class="card-header text-info">
                <h3>Efetuar Registo</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                <img id="utad-logo" src="~/Content/Images/logo_utad_completo_preto.png" style="width: 50%">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Endereço de e-mail" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.EmailRepeticao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Repetir endereço de e-mail" } })
                                @Html.ValidationMessageFor(model => model.EmailRepeticao, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.DefaultLanguage, new SelectList(IntranetSession.Session.Linguagens, "Symbol", "Titulo"), "Por favor seleccione o idioma de apresentação", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DefaultLanguage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.Captcha("Gerar Nova Imagem", "Por favor introduza os caracteres que aparecem na imagem", 6, new CaptchaMvc.Models.ParameterModel("class", "form-control") )
                                @Html.ValidationMessage("Captcha", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <a class="btn btn-danger" href="@Url.Action("Login", "Session")">
                                    <span class="fa fa-arrow-circle-left"></span>
                                    Cancelar
                                </a>
                                <input type="submit" value="Registar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
