﻿@model IntranetAssemblies.Models.Intranet.Vogais

<style>
    .checkbox-externo {
        width: 15px !important;
        height: 15px
    }
</style>

@Html.HiddenFor(model => model.MaxVogais)
@Html.HiddenFor(model => model.MinVogais)
@Html.HiddenFor(model => model.NVogais)

@for (int i = 0; i < Model.VogaisList.Count(); i++)
{
    <div class="Vogal" id="@i">
        <div class="form-horizontal">
            @Html.HiddenFor(model => Model.VogaisList[i].Id)
            @Html.HiddenFor(model => Model.VogaisList[i].Guid)
            @Html.HiddenFor(model => Model.VogaisList[i].Numero)
            @Html.HiddenFor(model => Model.VogaisList[i].Tipo)

            @{var numero = i + 1; } 
            <div class="row">
                <div class="col-md-4">
                    <h4>Vogal @numero </h4>

                </div>
                @if (i >= Model.MinVogais)
                {
                    <div class="col-md-8 text-right">
                        <button class="btn btn-danger RemoverVogal" type="button" name="@Model.VogaisList[i].Guid">
                            <span class="fa fa-trash"></span>
                            Remover
                        </button>

                    </div>
                }
            </div>
            <hr />

            <div class="form-group">
                @Html.Label("Vogal " + numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <span class="col-md-4">Selecionar em caso de vogal externo: </span>
                @Html.CheckBoxFor(model => Model.VogaisList[i].Externo, htmlAttributes: new { @class = "control-label col-md-6 checkbox-externo" })
                <div class="col-md-12" id="@string.Concat("Username_", i,"_Group")">
                    <div class="input-group">
                        @Html.EditorFor(model => Model.VogaisList[i].Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira um nome de utilizador válido..." } })
                        <div class="input-group-append">
                            <button class="btn btn-success getPerfisButton" type="button" name="@i">
                                <span class="fa fa-check"></span>
                                Validar
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => Model.VogaisList[i].Username, "", new { @class = "text-danger", @id = string.Concat("Username_", i, "_ValidationMessage") })
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => Model.VogaisList[i].Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Instituição", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => Model.VogaisList[i].Instituicao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="EndVogais">
    <div class="col-md-3">
        <button class="btn btn-success" type="button" id="AddVogal">
            <span class="fa fa-plus"></span>
            Adicionar Vogal
        </button>
    </div>
    <div class="col-md-9">
        @Html.ValidationMessage("AdiconarVolgal", "", new { @class = "text-danger", @id = string.Concat("AdicionarVolgalValidationMessage") })
    </div>

</div>

<script>
    $(document).ready(function () {
        var maxVogal = parseInt( $("#MaxVogais").val());
        var minVogal = parseInt($("#MinVogais").val());
        var nVogal = parseInt($("#NVogais").val());

        IsExterno();


        $("#AddVogal").click(function () {
            $("#AdicionarVolgalValidationMessage").text("");
            let flag = true;
            alert(nVogal);
            alert(maxVogal);

            for (let i = 0; i <= nVogal - 1; i++) {

                let nome = $("#VogaisList_"+i+"__Nome").val();
                let instituicao = $("#VogaisList_"+i+"__Instituicao").val();

                if (nome == "" || instituicao == "") {
                    flag = false;
                }
            }

            if (flag == true) {
               if (nVogal < maxVogal) {
                   $.get("@Url.Action("AddVogal")", { }, function (data) {
                        $('#Vogais').html(data);
                    });
               }
                else {
                    $("#AdicionarVolgalValidationMessage").text("Só pode ter no máximo " + maxVogal + " Vogais!");
                }
            }
            else
            {
                $("#AdicionarVolgalValidationMessage").text("Preencha os vogais anteriores!");
            }
            
        });

        $(".RemoverVogal").click(function () {
            $("#AdicionarVolgalValidationMessage").text("");
            var guid = $(this).attr("name");
            if (nVogal > maxVogal) {
                $.get("@Url.Action("RemoveVogal")", {guid:guid}, function (data) {
                    $('#Vogais').html(data);
                });
            }
            
        });

        $(".getPerfisButton").click(function () {
            var numero = $(this).attr("name");
            let flag = true;
            $("#Username_"+numero+"_ValidationMessage").text("");

            var success = false;
            var username = $("#VogaisList_" + numero + "__Username").val();

            for (let i = 0; i <= maxVogal-1; i++) {
                let usernameCheck = $("#VogaisList_" + i + "__Username").val();
                if (username != '' && i != numero && username == usernameCheck)
                {
                    flag = false;
                }
            }
            if (flag == true) {
                if (username != "") {
                    $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                        if (data != "") {
                            $("#VogaisList_" + numero + "__Nome").val("");
                            $("#VogaisList_" + numero + "__Instituicao").val("");

                            if (data[0].Numero == null) {
                                if (data[0].Nome != "") {
                                    $("#VogaisList_" + numero + "__Nome").val(data[0].Nome);
                                    $("#VogaisList_" + numero + "__Instituicao").val("Universidade de Trás-os-Montes e Alto Douro");

                                    success = true;
                                }
                            }
                        }

                        if (success == false) {
                            $("#VogaisList_" + numero + "__Nome").val("");
                            $("#VogaisList_" + numero + "__Instituicao").val("");
                            $("#Username_" + numero + "_ValidationMessage").text("Tem de introduzir um nome de utilizador válido!");
                        }
                    });
                }
                else {
                    $("#VogaisList_" + numero + "__Nome").val("");
                    $("#VogaisList_" + numero + "__Instituicao").val("");
                    $("#Username_" + numero + "_ValidationMessage").text("Tem de preencher este campo!");
                }
            }
            else {
                $("#VogaisList_" + numero + "__Nome").val("");
                $("#VogaisList_" + numero + "__Instituicao").val("");
                $("#Username_" + numero + "_ValidationMessage").text("Utilizador já utilizado!");
            }
        });

        function ClearVogal(numero) {
            $("#VogaisList_" + numero + "__Username").val("");
            $("#VogaisList_" + numero + "__Nome").val("");
            $("#VogaisList_" + numero + "__Instituicao").val("");
        };


        $(".checkbox-externo").change(function () {
            let check = $(this).is(":checked");
            let numero = $(this).parents(".Vogal").attr("id");
            if (check) {
                ClearVogal(numero);
                $("#Username_" + numero + "_Group").fadeOut();
                $("#VogaisList_" +numero+"__Nome").attr('readonly', false);
                $("#VogaisList_" + numero + "__Instituicao").attr('readonly', false);
            }
            else {
                ClearVogal(numero);
                $("#Username_" + numero + "_Group").fadeIn();
                $("#VogaisList_" + numero + "__Nome").attr('readonly', true);
                $("#VogaisList_" + numero + "__Instituicao").attr('readonly', true);
            }
        });

        function IsExterno()
        {
            $(".checkbox-externo").each(function () {
            let check = $(this).is(":checked");
            let numero = $(this).parents(".Vogal").attr("id");
            if (check) {

                $("#Username_" + numero + "_Group").fadeOut();
                $("#VogaisList_" + numero + "__Nome").attr('readonly', false);
                $("#VogaisList_" + numero + "__Instituicao_").attr('readonly', false);
            }
            });
        }

    });

</script>


