﻿@model IntranetSite.ViewModels.CreateEditConteudoViewModel
@using IntranetSite.App_Start;

@{
    ViewBag.Title = "Novo Conteúdo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateConteudo", "ConteudosForm1", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <h4>@Model.Conteudo.NomeTipoConteudo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Conteudo.IsForEstudante)
                @Html.HiddenFor(model => model.Conteudo.IdTipoConteudo)
                @Html.HiddenFor(model => model.Conteudo.IdOrgao)
                @Html.HiddenFor(model => model.Conteudo.NomeTipoConteudo)
                @Html.HiddenFor(model => model.Conteudo.LabelTitulo1)
                @Html.HiddenFor(model => model.Conteudo.LabelValor1)
                @Html.HiddenFor(model => model.Conteudo.LabelValor2)
                @Html.HiddenFor(model => model.Conteudo.LabelValor3)
                @Html.HiddenFor(model => model.Conteudo.LabelLink1)
                @Html.HiddenFor(model => model.Conteudo.LabelLink2)



                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Titulo, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Descricao, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataInicioPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataInicioPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataInicioPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataFimPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataFimPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataFimPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.HoraInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.HoraInicio, new { htmlAttributes = new { @class = "form-control", Type = "time" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.HoraInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelLink1", Model.Conteudo.LabelLink1, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Link1, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Link1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelTitulo1", Model.Conteudo.LabelTitulo1, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Titulo1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Titulo1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Edital", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div id="actions" class="col-md-12">
                        <span class="btn btn-block btn-success fileinput-button dz-clickable">
                            <span class="fa fa-file"></span>
                            Escolher Ficheiro
                        </span>
                        @Html.ValidationMessage("ConteudoAnexoFile", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="table table-striped" id="previews">

                            </div>
                        </div>

                        <div id="tpl">
                            <div id="template" class="file-row">
                                <div>
                                    <p class="name" data-dz-name></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                </div>
                                <div class="text-right">
                                    <button type="button" data-dz-remove class="btn btn-warning remove">
                                        <span class="fa fa-times"></span>
                                        Remover
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <h4>Candidato</h4>
                <hr />

                <div class="form-group">
                    @Html.Label("Candidato", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Conteudo.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira ou um nome de utilizador ou um número mecanográfico (no formato \"alxxxxx\") válidos..." } })
                            <div class="input-group-append">
                                <button id="getPerfisUsernameButton" class="btn btn-success" type="button">
                                    <span class="fa fa-check"></span>
                                    Validar
                                </button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Conteudo.Username, "", new { @class = "text-danger", @id = "ConteudoUsernameValidationMessage" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("Nome do Candidato", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.Label("model.Conteudo.LabelLink2", Model.Conteudo.LabelLink2, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.Link2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Juri" style="display: none">
                <div class="form-horizontal">
                    <h4>Presidente</h4>
                    <hr />

                    <div class="form-group">
                        @Html.Label("Presidente", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.Presidente.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira um nome de utilizador válido..." } })
                                <div class="input-group-append">
                                    <button id="getPerfisPresidenteButton" class="btn btn-success" type="button">
                                        <span class="fa fa-check"></span>
                                        Validar
                                    </button>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Conteudo.Presidente.Username, "", new { @class = "text-danger", @id = "ConteudoPresidenteValidationMessage" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Conteudo.Presidente.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.Label("Instituição", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Conteudo.Presidente.Instituicao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div>
                    @{
                        Html.RenderPartial("VogaisPartial", Model.Conteudo.Vogais);
                    }
                </div>
            </div>

            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-danger" href="@Url.Action("CreateConteudos", "Conteudos")">
                            <span class="fa fa-times"></span>
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-plus"></span>
                            Criar Conteúdo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        VerifyISForEstudante();

        var previewWrapper = document.querySelector("#tpl");
        previewWrapper.id = "";
        var previewTemplate = previewWrapper.innerHTML;
        previewWrapper.remove();

        var myDropzone = new Dropzone(document.getElementById("form"), {
            url: "@Url.Action("CreateConteudoAnexoFiles")",
            paramName: "files",
            maxFiles: 1,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            createImageThumbnails: false,
            clickable: ".fileinput-button",

            dictFileTooBig: "O tamanho deste ficheiro é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter este ficheiro (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher um ficheiro para o edital!",

            init: function() {
                let myDropzone = this;

                myDropzone.on("success", function (file) {
                    file.previewElement.querySelector(".remove").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFile")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone.options.maxFiles = myDropzone.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetConteudoAnexoFiles")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone.files.push(mockFile);

                        myDropzone.emit("addedfile", mockFile);
                        myDropzone.emit("complete", mockFile);
                        myDropzone.emit("success", mockFile);

                        myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                    });
                });
            }
        });

        //Depois de dar messagens de erro verificar se é estudante para voltar a abrir a secção do juri
        function VerifyISForEstudante() {
            var isEstudante = $("#Conteudo_IsForEstudante").val();
            if (isEstudante == "true") {

                //$("#ConteudoUsernameValidationMessage").text("");
                $("#Juri").fadeOut();

                var idTipoConteudo = parseInt($("#Conteudo_IdTipoConteudo").val());
                var success = false;
                var username = $("#Conteudo_Username").val();

                if (username != "") {
                    $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                        if (data != "") {
                            $("#Conteudo_Nome").val("");
                            $("#Conteudo_Link2").val("");
                            if (data[0].Nome != "") {
                                if (idTipoConteudo == 4) {

                                    if (data[0].Numero != null) {
                                        $("#Conteudo_IsForEstudante").val(true);

                                        if (data.find((p) => { return p.IdEstado === "1" && p.Titulo === "MESTRE" }) != null) {
                                            $("#Juri").fadeIn();
                                            success = true;
                                        }
                                        $("#Conteudo_Nome").val(data[0].Nome);
                                        $("#Conteudo_Link2").val(data[0].Email);
                                       
                                    }
                                    else {
                                        $("#Conteudo_IsForEstudante").val(false);
                                    }

                                }
                                if (idTipoConteudo == 7) {

                                    if (data[0].Numero != null) {
                                        $("#Conteudo_IsForEstudante").val(true);

                                        if (data.find((p) => { return p.IdEstado === "1" && p.Titulo === "DOUTOR" }) != null) {
                                            $("#Juri").fadeIn();
                                            success = true;
                                        }
                                        $("#Conteudo_Nome").val(data[0].Nome);
                                        $("#Conteudo_Link2").val(data[0].Email);
                                       
                                    }
                                    else {
                                        $("#Conteudo_IsForEstudante").val(false);
                                    }

                                }
                            }
                        }

                        if (success == false) {
                            if (idTipoConteudo == 4 || idTipoConteudo == 7) {
                                $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um número mecanográfico (no formato \"alxxxxx\") válido!");
                            }

                        }
                    });
                }
               
            }
            else {
                //$("#ConteudoUsernameValidationMessage").text("");
                $("#Juri").fadeOut();

                var idTipoConteudo = parseInt($("#Conteudo_IdTipoConteudo").val());
                var success = false;
                var username = $("#Conteudo_Username").val();

                if (username != "") {
                    $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                        if (data != "") {
                            $("#Conteudo_Nome").val("");
                            $("#Conteudo_Link2").val("");
                            if (data[0].Nome != "") {
                                if (idTipoConteudo == 8) {

                                    if (data[0].Numero == null) {


                                        if (data.find((p) => { return p.PerfilAtivo === true && p.UtilizadorAtivo === true }) != null) {
                                            $("#Juri").fadeIn();
                                            success = true;
                                        }
                                        $("#Conteudo_Nome").val(data[0].Nome);
                                        $("#Conteudo_Link2").val(data[0].Email);

                                        
                                    }
                                }
                            }
                        }

                        if (success == false) {
                            if (idTipoConteudo == 4) {
                                $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um número mecanográfico (no formato \"alxxxxx\") válido!");
                            }
                            if (idTipoConteudo == 7) {
                                $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um número mecanográfico (no formato \"alxxxxx\") válido!");
                            }
                            if (idTipoConteudo == 8) {
                                $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um nome de utilizador válido!");
                            }
                        }
                    });
                }
               
            }
        }

        $("#getPerfisUsernameButton").click(function () {
            $("#ConteudoUsernameValidationMessage").text("");
            $("#Juri").fadeOut();

            var idTipoConteudo = parseInt($("#Conteudo_IdTipoConteudo").val());
            var success = false;
            var username = $("#Conteudo_Username").val();

            if (username != "") {
                $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                    if (data != "") {
                        $("#Conteudo_Nome").val("");
                        $("#Conteudo_Link2").val("");
                        if (data[0].Nome != "") {
                            if (idTipoConteudo == 4) {

                                if (data[0].Numero != null) {
                                    $("#Conteudo_IsForEstudante").val(true);

                                    if (data.find((p) => { return p.IdEstado === "1" && p.Titulo === "MESTRE" }) != null) {
                                        $("#Juri").fadeIn();
                                        success = true;
                                    }
                                    $("#Conteudo_Nome").val(data[0].Nome);
                                    $("#Conteudo_Link2").val(data[0].Email);
                                  
                                }
                                else
                                {
                                    $("#Conteudo_IsForEstudante").val(false);
                                }

                            }
                            if (idTipoConteudo == 7) {

                                if (data[0].Numero != null) {
                                    $("#Conteudo_IsForEstudante").val(true);

                                    if (data.find((p) => { return p.IdEstado === "1" && p.Titulo === "DOUTOR" }) != null) {
                                        $("#Juri").fadeIn();
                                        success = true;
                                    }
                                    $("#Conteudo_Nome").val(data[0].Nome);
                                    $("#Conteudo_Link2").val(data[0].Email);
                                    
                                }
                                else {
                                    $("#Conteudo_IsForEstudante").val(false);
                                }

                            }

                            if (idTipoConteudo == 8) {

                                if (data[0].Numero == null) {


                                    if (data.find((p) => { return p.PerfilAtivo === true && p.UtilizadorAtivo===true }) != null) {
                                        $("#Juri").fadeIn();
                                        success = true;
                                    }
                                    $("#Conteudo_Nome").val(data[0].Nome);
                                    $("#Conteudo_Link2").val(data[0].Email);

                                    
                                }
                            }
                        }
                    }

                    if (success == false) {
                        if (idTipoConteudo == 4) {
                            $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um número mecanográfico (no formato \"alxxxxx\") válido!");
                        }
                        if (idTipoConteudo == 7) {
                            $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um número mecanográfico (no formato \"alxxxxx\") válido!");
                        }
                        if (idTipoConteudo == 8) {
                            $("#ConteudoUsernameValidationMessage").text("Tem de introduzir um nome de utilizador válido!");
                        }
                    }
                });
            }
            else {
                $("#ConteudoUsernameValidationMessage").text("Tem de preencher este campo!");
            }
        });


        $("#getPerfisPresidenteButton").click(function () {
            $("#ConteudoPresidenteValidationMessage").text("");

            var success = false;
            var username = $("#Conteudo_Presidente_Username").val();

            if (username != "") {
                $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                    if (data != "") {
                        $("#Conteudo_Presidente_Nome").val("");
                        $("#Conteudo_Presidente_Instituicao").val("");

                        if (data[0].Numero == null) {
                            if (data[0].Nome != "") {
                                $("#Conteudo_Presidente_Nome").val(data[0].Nome);
                                $("#Conteudo_Presidente_Instituicao").val("Universidade de Trás-os-Montes e Alto Douro");

                                success = true;
                            }
                        }
                    }

                    if (success == false) {
                        $("#ConteudoPresidenteValidationMessage").text("Tem de introduzir um nome de utilizador válido!");
                    }
                });
            }
            else {
                $("#ConteudoPresidenteValidationMessage").text("Tem de preencher este campo!");
            }
        });

       
    });
</script>
