﻿@model IntranetSite.ViewModels.DetailsConteudoPartialViewModel

<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.Conteudo.Titulo</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div>
                    <dl class="row">
                        <dd class="col-md-12">
                            @Html.DisplayFor(model => model.Conteudo.Descricao)
                        </dd>
                    </dl>
                </div>
                <dl class="row">
                    <dt class="col-md-2">
                        @Html.DisplayNameFor(model => model.Conteudo.DataInicio)
                    </dt>

                    <dd class="col-md-4">
                        @Model.Conteudo.DataInicio.Value.ToShortDateString()
                    </dd>

                    <dt class="col-md-2">
                        @if (Model.Conteudo.HoraInicio != new TimeSpan())
                        {
                            @Html.DisplayNameFor(model => model.Conteudo.HoraInicio)
                        }
                    </dt>

                    <dd class="col-md-4">
                        @if (Model.Conteudo.HoraInicio != new TimeSpan())
                        {
                            @Html.DisplayFor(model => model.Conteudo.HoraInicio);
                        }
                    </dd>

                    @*<dt class="col-md-2">
                    @Html.DisplayName("Link para Videoconferência")
                </dt>

                <dd class="col-md-4">
                    @Html.DisplayFor(model => model.Conteudo.Link1)
                </dd>*@
                    @if (Model.Conteudo.Link1 != null && Model.Conteudo.Link1 != "")
                    {
                        <dt class="col-md-3">
                            @Html.DisplayFor(model => model.Conteudo.LabelLink1)
                        </dt>

                        <dd class="col-md-3">

                            @*@Html.DisplayFor(model => model.Conteudo.Link1)*@
                            <a target="_blank" href="@Model.Conteudo.Link1">@Model.Conteudo.Link1</a>

                        </dd>
                    }
                    @if (Model.Conteudo.Titulo1 != null && Model.Conteudo.Titulo1 != "")
                    {
                        <dt class="col-md-3">
                            @Html.DisplayFor(model => model.Conteudo.LabelTitulo1)
                        </dt>

                        <dd class="col-md-3">

                            @Html.DisplayFor(model => model.Conteudo.Titulo1)


                        </dd>
                    }

                </dl>
            </div>

            <div>
                <h4>Candidato</h4>
                <hr />

                <dl class="row">
                    <dt class="col-md-2">
                        @Html.DisplayName("Nome")
                    </dt>

                    <dd class="col-md-4">
                        @Html.DisplayFor(model => model.Conteudo.Nome)
                    </dd>

                    <dt class="col-md-2">
                        @Html.DisplayName("Email")
                    </dt>

                    <dd class="col-md-4">
                        @Html.DisplayFor(model => model.Conteudo.Link2)
                    </dd>

                </dl>
            </div>

            @if (Model.Conteudo.Presidente != null)
            {
                <div>
                    <h4>Júri</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-md-2">
                            @Html.DisplayName("Presidente")
                        </dt>

                        <dd class="col-md-4">
                            @Html.DisplayFor(model => model.Conteudo.Presidente.Nome)
                        </dd>

                        <dt class="col-md-2">
                            @Html.DisplayName("Instituição")
                        </dt>

                        <dd class="col-md-4">
                            @Html.DisplayFor(model => model.Conteudo.Presidente.Instituicao)
                        </dd>

                        @foreach (var vogal in Model.Conteudo.Vogais.VogaisList)
                        {
                            <dt class="col-md-2">
                                @Html.DisplayName(string.Concat("Vogal ", vogal.Numero))
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => vogal.Nome)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Instituição")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => vogal.Instituicao)
                            </dd>
                        }
                    </dl>
                </div>

                <div>
                    <h4>Anexos</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dd>
                            <div class="table-responsive">
                                <div class="table table-striped" id="previews">
                                    @foreach (var item in Model.ConteudoAnexosList)
                                    {
                                        <div id="template" class="file-row">
                                            <div>
                                                <p class="name" data-dz-name>@item.Anexo</p>
                                            </div>
                                            <div class="text-right">
                                                <a data-dz-remove class="btn btn-secondary remove" href="@Url.Action("DownloadConteudoAnexoFile", new { conteudoDataCriacao = Model.Conteudo.DataCriacao, conteudoCodigoOrgao = Model.Conteudo.CodigoOrgao, conteudoAnexo = item.Anexo })" target="_blank">
                                                    <span class="fa fa-download"></span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            }

            @{
                Html.RenderPartial("FooterDetailsConteudoPartial", Model);
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
        <span class="fa fa-times"></span>
        Fechar
    </button>
</div>
