﻿@model IntranetAssemblies.Models.Intranet.Vogais

<style>
    .checkbox-externo {
        width: 15px !important;
        height: 15px
    }
</style>

@Html.HiddenFor(model => model.MaxVogais)
@Html.HiddenFor(model => model.MinVogais)
@Html.HiddenFor(model => model.NVogais)

@for (int i = 0; i < Model.VogaisList.Count(); i++)
{
    <div class="Vogal" id="@Model.VogaisList[i].Numero">
        <div class="form-horizontal">
            @Html.HiddenFor(model => Model.VogaisList[i].Id)
            @Html.HiddenFor(model => Model.VogaisList[i].Numero)
            @Html.HiddenFor(model => Model.VogaisList[i].Tipo)
            <div class="row">
                <div class="col-md-4">
                    <h4 id="@string.Concat("H4_", Model.VogaisList[i].Numero)">Vogal @Model.VogaisList[i].Numero</h4>

                </div>
                @if (i >= Model.MinVogais)
                {
                    <div class="col-md-8 text-right">
                        <button class="btn btn-danger RemoverVogal" type="button" id="@string.Concat("RemoveVogal_", Model.VogaisList[i].Numero)" name="@Model.VogaisList[i].Numero">
                            <span class="fa fa-trash"></span>
                            Remover
                        </button>

                    </div>
                }
            </div>
            <hr />

            <div class="form-group">
                @Html.Label("Vogal " + Model.VogaisList[i].Numero, htmlAttributes: new { @class = "control-label col-md-2", @id = string.Concat("Label_", Model.VogaisList[i].Numero) })
                <span class="col-md-4">Selecionar em caso de vogal externo: </span>
                @Html.CheckBoxFor(model => Model.VogaisList[i].Externo, htmlAttributes: new { @class = "control-label col-md-6 checkbox-externo" })
                <div class="col-md-12" id="@string.Concat("Username_", Model.VogaisList[i].Numero,"_Group")">
                    <div class="input-group">
                        @Html.EditorFor(model => Model.VogaisList[i].Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira um nome de utilizador válido...", @id = string.Concat("Username_", Model.VogaisList[i].Numero) } })
                        <div class="input-group-append">
                            <button class="btn btn-success getPerfisButton" type="button" name="@Model.VogaisList[i].Numero" id="@string.Concat("ValidateVogal_", Model.VogaisList[i].Numero)">
                                <span class="fa fa-check"></span>
                                Validar
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => Model.VogaisList[i].Username, "", new { @class = "text-danger", @id = string.Concat("Username_", Model.VogaisList[i].Numero, "_ValidationMessage") })
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => Model.VogaisList[i].Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = string.Concat("Nome_", Model.VogaisList[i].Numero) } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Instituição", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => Model.VogaisList[i].Instituicao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = string.Concat("Instituicao_", Model.VogaisList[i].Numero) } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row" id="EndVogais">
    <div class="col-md-3">
        <button class="btn btn-success" type="button" id="AddVogal">
            <span class="fa fa-plus"></span>
            Adicionar Vogal
        </button>
    </div>
    <div class="col-md-9">
        @Html.ValidationMessage("AdiconarVolgal", "", new { @class = "text-danger", @id = string.Concat("AdicionarVolgalValidationMessage") })
    </div>

</div>

<script>
    $(document).ready(function () {
        var maxVogal = parseInt( $("#MaxVogais").val());
        var minVogal = parseInt($("#MinVogais").val());
        var nVogal = parseInt($("#NVogais").val());

        IsExterno();

        //Update ao NVogal
        function UpdateNVogal(NVolgalNovo) {
            $("#NVogais").val(NVolgalNovo);
        };

        $(".Vogal").each(function () {
            let numero = $(this).attr("id");
            if (numero > nVogal) {
                $(this).fadeOut();
            }
        });

        $("#AddVogal").click(function () {
            $("#AdicionarVolgalValidationMessage").text("");
            let flag = true;

            
            for (let i = 1; i <= nVogal; i++) {
                let username = $("#Username_" + i).val();
                let nome = $("#Nome_" + i).val();
                let instituicao = $("#Instituicao_" + i).val();

                if (nome == "" || instituicao == "") {
                    flag = false;
                }
            }
           
            if (flag == true) {
                if (nVogal < maxVogal) {
                    nVogal = nVogal + 1;
                    UpdateNVogal(nVogal);
                    $("#" + nVogal).fadeIn();
                }
                else {
                    $("#AdicionarVolgalValidationMessage").text("Só pode ter no máximo " + maxVogal + " Vogais!");
                }
            }
            else
            {
                $("#AdicionarVolgalValidationMessage").text("Preencha os vogais anteriores!");
            }
        });

        $(".RemoverVogal").click(function () {
            $("#AdicionarVolgalValidationMessage").text("");
            var numero = $(this).attr("name");
            $("#" + numero).fadeOut();
            let n = parseInt(numero);
            for (let i = n + 1; i <= maxVogal; i++) {
                var novoNumero = i - 1;
                ChangeNumberRemove(i, novoNumero);
            }
            nVogal = nVogal - 1;
            UpdateNVogal(nVogal);
            ChangeNumberRemove(numero, maxVogal);
            ClearVogal(maxVogal);
            $("#" + maxVogal).insertBefore($("#EndVogais"));
        });

        //Alterar os id's dos Vogais seguintes ao renovado
        function ChangeNumberRemove(antigoNumero, novoNumero) {
            var index = antigoNumero - 1;
            var novoindex = novoNumero - 1;
            $("#" + antigoNumero).find("input[name='VogaisList[" + index + "].Externo'").attr("name", "VogaisList[" + novoindex + "].Externo");
            $("#" + antigoNumero).attr("id", novoNumero);

            $("#VogaisList_" + index + "__Numero").attr("name", "VogaisList[" + novoindex+"].Numero");
            $("#VogaisList_" + index + "__Numero").attr("value", novoNumero);
            $("#VogaisList_" + index + "__Numero").attr("id", "VogaisList_" + novoindex + "__Numero");

            $("#VogaisList_" + index + "__Tipo").attr("name", "VogaisList[" + novoindex + "].Tipo");
            $("#VogaisList_" + index + "__Tipo").attr("id", "VogaisList_" + novoindex + "__Tipo");

            $("#VogaisList_" + index + "__Id").attr("name", "VogaisList[" + novoindex + "].Id");
            $("#VogaisList_" + index + "__Id").attr("id", "VogaisList_" + novoindex + "__Id");

            $("#H4_" + antigoNumero).text("Vogal " + novoNumero);
            $("#H4_" + antigoNumero).attr("id", "H4_" + novoNumero);

            $("#RemoveVogal_" + antigoNumero).attr("name", novoNumero);
            $("#RemoveVogal_" + antigoNumero).attr("id", "RemoveVogal_" + novoNumero);

            $("#Label_" + antigoNumero).text("Vogal " + novoNumero);
            $("#Label_" + antigoNumero).attr("for", novoNumero);
            $("#Label_" + antigoNumero).attr("id", "Label_" + novoNumero);

            //$("#VogaisList_" + index + "__Externo").attr("name", "VogaisList[" + novoindex + "].Externo");
            $("#VogaisList_" + index + "__Externo").attr("id", "VogaisList_" + novoindex + "__Externo");

            $("#Username_" + antigoNumero + "_Group").attr("id", "Username_" + novoNumero + "_Group");

            $("#Username_" + antigoNumero).attr("name", "VogaisList[" + novoindex + "].Username");
            $("#Username_" + antigoNumero).attr("id", "Username_" + novoNumero);

            $("#ValidateVogal_" + antigoNumero).attr("name", novoNumero);
            $("#ValidateVogal_" + antigoNumero).attr("id", "Validate_" + novoNumero);

            $("#Username_" + antigoNumero + "_ValidationMessage").attr("data-valmsg-for", "VogaisList[" + novoindex + "].Username");
            $("#Username_" + antigoNumero + "_ValidationMessage").attr("id", "Username_" + novoNumero + "_ValidationMessage");

            $("#Nome_" + antigoNumero).attr("name", "VogaisList[" + novoindex + "].Nome");
            $("#Nome_" + antigoNumero).attr("id", "Nome_" + novoNumero);

            $("#Instituicao_" + antigoNumero).attr("name", "VogaisList[" + novoindex + "].Instituicao");
            $("#Instituicao_" + antigoNumero).attr("id", "Instituicao_" + novoNumero);

        };

        function ClearVogal(numero) {
            $("#Username_" + numero).val("");
            $("#Nome_" + numero).val("");
            $("#Instituicao_" + numero).val("");
        };

       

        $(".getPerfisButton").click(function () {
            var numero = $(this).attr("name");
            let flag = true;
            $("#Username_"+numero+"_ValidationMessage").text("");

            var success = false;
            var username = $("#Username_" + numero).val();

            for (let i = 1; i <= maxVogal; i++) {
                let usernameCheck = $("#Username_" + i).val();
                if (username != '' && i != numero && username == usernameCheck)
                {
                    flag = false;
                }
            }
            if (flag == true) {
                if (username != "") {
                    $.get("@Url.Action("GetPerfis")", { username: username }, function (data) {
                        if (data != "") {
                            $("#Nome_" + numero).val("");
                            $("#Instituicao_" + numero).val("");

                            if (data[0].Numero == null) {
                                if (data[0].Nome != "") {
                                    $("#Nome_" + numero).val(data[0].Nome);
                                    $("#Instituicao_" + numero).val("Universidade de Trás-os-Montes e Alto Douro");

                                    success = true;
                                }
                            }
                        }

                        if (success == false) {
                            $("#Nome_" + numero).val("");
                            $("#Instituicao_" + numero).val("");
                            $("#Username_" + numero + "_ValidationMessage").text("Tem de introduzir um nome de utilizador válido!");
                        }
                    });
                }
                else {
                    $("#Nome_" + numero).val("");
                    $("#Instituicao_" + numero).val("");
                    $("#Username_" + numero + "_ValidationMessage").text("Tem de preencher este campo!");
                }
            }
            else {
                $("#Nome_" + numero).val("");
                $("#Instituicao_" + numero).val("");
                $("#Username_" + numero + "_ValidationMessage").text("Utilizador já utilizado!");
            }
        });

        $(".checkbox-externo").change(function () {
            let check = $(this).is(":checked");
            let numero = $(this).parents(".Vogal").attr("id");
            if (check) {
                ClearVogal(numero);
                $("#Username_" + numero + "_Group").fadeOut();
                $("#Nome_" + numero).attr('readonly', false);
                $("#Instituicao_" + numero).attr('readonly', false);
            }
            else {
                ClearVogal(numero);
                $("#Username_" + numero + "_Group").fadeIn();
                $("#Nome_" + numero).attr('readonly', true);
                $("#Instituicao_" + numero).attr('readonly', true);
            }
        });

        function IsExterno()
        {
            $(".checkbox-externo").each(function () {
            let check = $(this).is(":checked");
            let numero = $(this).parents(".Vogal").attr("id");
            if (check) {
               
                $("#Username_" + numero + "_Group").fadeOut();
                $("#Nome_" + numero).attr('readonly', false);
                $("#Instituicao_" + numero).attr('readonly', false);
            }
            });
            }
                
    });

</script>


