﻿@model IEnumerable<Intranet.ViewModels.IndexViewModel>

@foreach (var item in Model)
{
    <h5>
        @Html.Raw(item.GrupoMenuIconHTML)
        @item.GrupoMenu.Grupo
    </h5>

    <hr />

    <div class="row">
        @if (item.AplicacoesPortalBaseList.Count > 0)
        {
            foreach (var aplicacaoPortalBase in item.AplicacoesPortalBaseList)
            {
                <div class="col-md-3 intranet-app" title="@aplicacaoPortalBase.Descricao">
                    <div class="portalbase-app-square medium" style="background-color: @aplicacaoPortalBase.CorPortalBase">
                        <span>@aplicacaoPortalBase.SiglaPortalBase</span>
                    </div>
                    @if (Intranet.App_Start.Autenticacao.IsLoggedIn() == true)
                    {
                        <a href="@aplicacaoPortalBase.LinkAutenticado" target="_blank">
                            @aplicacaoPortalBase.Nome
                        </a>
                    }
                    else
                    {
                        <a href="@aplicacaoPortalBase.Link" target="_blank">
                            @aplicacaoPortalBase.Nome
                        </a>
                    }
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <p style="margin: 10.0px">Não existem aplicações para apresentar neste grupo.</p>
            </div>
        }
    </div>

    <br />
}
