﻿@model IntranetAssemblies.Models.QuoVadis.Dashboard.Favorito

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Adicionar Favorito</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="form">
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div id="createFavoritoModalAlert" class="alert alert-danger fade show" role="alert" aria-label="Fechar">
            <h4 class="alert-heading">Erro!</h4>
            <span id="createFavoritoModalAlertText"></span>
        </div>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @id = "NomeValidationMessage", @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @id = "LinkValidationMessage", @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Cor do Ícone (Opcional)", htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CorDashboard, new { htmlAttributes = new { @class = "form-control", @type = "color" } })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submit" type="button" class="btn btn-primary">
            <span class="fa fa-plus"></span>
            Adicionar Favorito
        </button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#createFavoritoModalAlert").hide();

        $("#submit").click(function () {
            if ($("#Nome").val() == "" || $("#Link").val() == "") {
                $("#createFavoritoModalAlertText").text("Dados não válidos! Por favor verifique todos os campos e tente de novo.");
                $("#createFavoritoModalAlert").show();

                if ($("#Nome").val() == "") {
                    $("#NomeValidationMessage").text("Tem de preencher este campo!");
                }

                if ($("#Link").val() == "") {
                    $("#LinkValidationMessage").text("Tem de preencher este campo!");
                }
            }
            else {
                $.post("@Url.Action("CreateFavorito")", $("#form").serialize(), function (data) {
                    if (data != "" && data > 0) {
                        $(".modal").modal("hide");

                        $("#Nome, #Link, #CorDashboard").val("");

                        $("#favoritos").load("@Url.Action("RefreshFavoritosPartial")").fadeIn("slow");
                        $("#favoritosMenuLateral").load("@Url.Action("RefreshFavoritosMenuLateralPartial")").fadeIn("slow");
                    }
                    else {
                        $("#createFavoritoModalAlertText").text("Ocorreu um erro ao submeter dados! Por favor tente de novo.");
                        $("#createFavoritoModalAlert").show();
                    }
                });
            }
        });
    });
</script>
