﻿@model IntranetAssemblies.Models.QuoVadis.Dashboard.Favorito

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Favorito</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        Tem a certeza que deseja eliminar este favorito?
    </div>
</div>
<div class="modal-footer">
    <button id="submit" type="button" class="btn btn-danger">
        <span class="fa fa-trash"></span>
        Eliminar Favorito
    </button>
</div>

<script>
    $(document).ready(function () {
        $("#deleteFavoritoModalAlert").hide();

        $("#submit").click(function () {
            $.post("@Url.Action("DeleteFavorito")", { id: @Model.Id }, function (data) {
                if (data == 1) {
                    $(".modal").modal("hide");

                    $("#favoritos").load("@Url.Action("RefreshFavoritosPartial")").fadeIn("slow");
                    $("#favoritosMenuLateral").load("@Url.Action("RefreshFavoritosMenuLateralPartial")").fadeIn("slow");
                }
                else {
                    $("#deleteFavoritoModalAlertText").text("Ocorreu um erro ao eliminar dados! Por favor tente de novo.");
                    $("#deleteFavoritoModalAlert").show();
                }
            });
        });
    });
</script>
