﻿@model IntranetAssemblies.Models.QuoVadis.Mensagens.Mensagem

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@Model.Titulo</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @Html.Raw(Model.Texto)
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
</div>
