﻿@model IEnumerable<IntranetAssemblies.Models.QuoVadis.Dashboard.Favorito>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="list-group">
            <div class="list-group-item intranet-fav">
                <div class="portalbase-app-square small" style="background-color: @item.CorDashboard">
                    <span>@item.SiglaDashboard</span>
                </div>
                <div class="intranet-fav-text">
                    <a href="@item.Link" target="_blank">@item.Nome</a>
                </div>
                <div class="close">
                    <button id="@string.Concat("favoritoActionsButton", item.Id)" type="button" class="btn btn-outline-secondary">
                        <span class="fa fa-ellipsis-h"></span>
                    </button>
                    <div id="@string.Concat("favoritoActions", item.Id)" style="display: none">
                        <button type="button" class="btn btn-outline-primary" title="Editar Favorito" data-toggle="modal" data-target="#favoritosModal" data-id="@item.Id" data-crud="update">
                            <span class=" fa fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-outline-danger" title="Eliminar Favorito" data-toggle="modal" data-target="#favoritosModal" data-id="@item.Id" data-crud="delete">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Não existem favoritos para apresentar. Adicione favoritos clicando no botão <b><span class="fa fa-plus"></span></b>.</p>
}

