﻿@model IntranetSite.ViewModels.IndexViewModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Aplicacao.Titulo"];
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-9">
        <h4>Bem-Vindo</h4>
        <hr />

        <div>
            Pesquise conteúdos clicando nos tipos de conteúdo presentes no menu lateral.
        </div>
    </div>
    <div class="col-md-3">
        <h4>Em Destaque</h4>
        <hr />

        <div class="row">
                @if (IntranetSite.App_Start.Autenticacao.IsLoggedIn() == true)
                {
                    if (Model.AplicacoesPortalBaseDestaquesList.Count > 0)
                    {
                        foreach (var item in Model.AplicacoesPortalBaseDestaquesList)
                        {
                            <div class="col-md-12 mb-4">
                                <div class="card h-100">
                                    <div class="card-img-top">
                                        <div class="intranet-destaque" style="background-color: @item.CorPortalBase">
                                            <p>@item.TextoDashboard</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        @if (IntranetSite.App_Start.Autenticacao.IsLoggedIn() == true)
                                        {
                                            <a href="@item.LinkAutenticado" target="_blank">
                                                <h5 class="card-title">@item.Nome</h5>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@item.Link" target="_blank">
                                                <h5 class="card-title">@item.Nome</h5>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12 mb-4">
                            Não existem destaques para apresentar.
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12 mb-4">
                        Por favor autentique-se para ver os seus destaques.
                    </div>
                }
        </div>

        <h4>Mensagens</h4>
        <hr />

        <div class="mb-4">
            @if (Model.MensagensList.Count > 0)
            {
                <div class="list-group">
                    @foreach (var item in Model.MensagensList)
                    {
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#detailsMensagemModal" data-id="@item.Id" data-isfromquovadis="@item.IsFromQuoVadis">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@item.Titulo</h5>
                            </div>
                            <p class="mb-1">@Html.Raw(item.Texto)</p>
                        </a>
                    }
                </div>
            }
            else
            {
                <div>Não existem mensagens a apresentar neste momento.</div>
            }
        </div>

        <div class="modal fade" id="detailsMensagemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div id="detailsMensagemModalContent" class="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#detailsMensagemModal").on("show.bs.modal", function (event) {
            var mensagemID = $(event.relatedTarget).data("id");
            var mensagemIsFromQuoVadis = $(event.relatedTarget).data("isfromquovadis");

            $("#detailsMensagemModalContent").load("@Url.Action("LoadDetailsMensagemPartial", "Home")", { id: mensagemID, isFromQuoVadis: mensagemIsFromQuoVadis });
        });
    });
</script>
