﻿@model IEnumerable<IntranetAssemblies.Models.QuoVadis.Aplicacoes.AplicacaoPortalBase>
@using System.Configuration;

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Aplicacao.Titulo"];
}

@*<h2>@ViewBag.Title</h2>*@

<div class="row">
    <div class="col-md-9">
        <h4>Bem-Vindo</h4>
        <hr />

        @if (IntranetSite.App_Start.Autenticacao.IsLoggedIn() == true)
        {
            <ul id="tabs" class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#aplicacoesTabContent">
                        <span class="fa fa-desktop"></span>
                        As Minhas Aplicações
                    </a>
                </li>

                <li name="favoritosTab" class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#favoritosTabContent">
                        <span class="fa fa-star"></span>
                        favUTAD
                        <span class="close">
                            <span class="fa fa-plus" title="Adicionar Favorito" data-toggle="modal" data-target="#favoritosModal" data-crud="create"></span>
                        </span>
                    </a>
                </li>
            </ul>

            <div id="tabsContents" class="tab-content">
                <div id="aplicacoesTabContent" class="tab-pane fade show active" role="tabpanel">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="fa fa-search"></span>
                                </span>
                            </div>
                            <input id="filterAplicacoes" type="text" class="form-control" placeholder="Digite para procurar aplicações...">
                        </div>
                    </div>

                    <h5>
                        <span class="fa fa-exclamation-circle"></span>
                        EM DESTAQUE
                    </h5>

                    <hr />

                    <div class="row">
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-3">
                                    <div class="card h-100">
                                        <div class="card-img-top">
                                            <div class="intranet-destaque" style="background-color: @item.CorPortalBase">
                                                <p>@item.TextoDashboard</p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            @if (IntranetSite.App_Start.Autenticacao.IsLoggedIn() == true)
                                            {
                                                <a href="@item.LinkAutenticado" target="_blank">
                                                    <h5 class="card-title">@item.Nome</h5>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@item.Link" target="_blank">
                                                    <h5 class="card-title">@item.Nome</h5>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div>
                                Não existem destaques para apresentar.
                            </div>
                        }
                    </div>

                    <br />

                    <div id="aplicacoes">
                        @{
                            Html.RenderPartial("AplicacoesPartial", IntranetSite.App_Start.IntranetSession.Session.IndexViewModels);
                        }
                    </div>
                </div>

                <div id="favoritosTabContent" class="tab-pane fade" role="tabpanel">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="fa fa-search"></span>
                                </span>
                            </div>
                            <input id="filterFavoritos" type="text" class="form-control" placeholder="Digite para procurar nos seus favoritos...">
                        </div>
                    </div>

                    <div id="favoritos">
                        @{
                            Html.RenderPartial("FavoritosPartial", IntranetSite.App_Start.IntranetSession.Session.Favoritos);
                        }
                    </div>
                </div>
            </div>

            <div id="favoritosModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div id="favoritosModalContent" class="modal-content">

                    </div>
                </div>
            </div>
        }
        else
        {
            if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == true)
            {
                <div>
                    Por favor autentique-se para ver as suas aplicações e os seus favoritos.
                </div>
                }
            }
        </div>
    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Aplicacao.Mensagens"]) == true)
    {
        <div class="col-md-3">
            <h4>Mensagens</h4>
            <hr />

            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
                <input id="filterMensagens" type="text" class="form-control" placeholder="Digite para procurar mensagens...">
            </div>

            <div id="mensagens">
                @{
                    Html.RenderPartial("MensagensPartial", IntranetSite.App_Start.IntranetSession.Session.Mensagens);
                }
            </div>

            <div class="modal fade" id="detailsMensagemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div id="detailsMensagemModalContent" class="modal-content">

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#filterAplicacoes").keyup(function () {
            var filterAplicacoesKeyword = $("#filterAplicacoes").val();

            $("#aplicacoes").load("@Url.Action("FilterAplicacoes")", { keyword: filterAplicacoesKeyword });
        });

        $("#filterFavoritos").keyup(function () {
            var keyword = $("#filterFavoritos").val();

            $("#favoritos").load("@Url.Action("FilterFavoritos")", { keyword: keyword });
        });

        $("#favoritos").on("click", "[id^=favoritoActionsButton]", function () {
            var favoritoActionsButtonID = $(this).attr("id");
            var favoritoActionsID = favoritoActionsButtonID.replace("Button", "");

            $("#" + favoritoActionsButtonID).hide();
            $("#" + favoritoActionsID).fadeIn();
        });

        $("#favoritosModal").on("show.bs.modal", function (event) {
            var favoritosModalButton = $(event.relatedTarget);

            var favoritosModalFavoritoID = favoritosModalButton.data("id");
            var favoritosModalCRUD = favoritosModalButton.data("crud");

            switch (favoritosModalCRUD) {
                case "create":
                    $("#favoritosModalContent").load("@Url.Action("LoadCreateFavoritoPartial")");

                    break;

                case "update":
                    $("#favoritosModalContent").load("@Url.Action("LoadEditFavoritoPartial")", { id: favoritosModalFavoritoID });

                    break;

                case "delete":
                    $("#favoritosModalContent").load("@Url.Action("LoadDeleteFavoritoPartial")", { id: favoritosModalFavoritoID });

                    break;

                default:
                    break;
            }
        });

        $("#filterMensagens").keyup(function () {
            var keyword = $("#filterMensagens").val();

            $("#mensagens").load("@Url.Action("FilterMensagens")", { keyword: keyword });
        });

        $("#detailsMensagemModal").on("show.bs.modal", function (event) {
            var id = $(event.relatedTarget).data("id");
            var isFromQuoVadis = $(event.relatedTarget).data("isfromquovadis");

            $("#detailsMensagemModalContent").load("@Url.Action("LoadDetailsMensagemPartial")", { id: id, isFromQuoVadis: isFromQuoVadis });
        });
    });
</script>
