﻿@model IEnumerable<IntranetAssemblies.Models.QuoVadis.Mensagens.Mensagem>

@if (Model.Count() > 0)
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#detailsMensagemModal" data-id="@item.Id" data-isfromquovadis="@item.IsFromQuoVadis">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Titulo</h5>
                </div>
                <p class="mb-1">@Html.Raw(item.Texto)</p>
            </a>
        }
    </div>
}
else
{
    <p style="margin-top: 1rem">Não existem mensagens a apresentar neste momento.</p>
}

