/*ESTILOS DO PORTAL BASE - ESTES ESTILOS FAZEM OVERRIDE AOS ESTILOS PRESENTES NA CSS DO ASSETS.UTAD.PT*/
:root {
    --main-color: #0072c6;
    --lateral-color: #e8e8e8;
    --sidebar-width: 295px;

    font-size: 0.875rem;
}

/*HTML*/
html, body {
    font-family: wf_segoe-ui_normal,wf_segoe-ui_semilight,wf_segoe-ui_light,Arial,sans-serif;
}

h1, h2, h3 {
    margin-bottom: 10.0px;
}

h2 {
    color: #0096c4;
}

a {
    color: inherit;
}

/*BOOTSTRAP 4*/
.col {
    padding-left: 0;
    padding-right: 0;
}

.card-header h1, h3 {
    margin-top: 20.0px;
}

.text-info {
    color: #3a87ad !important;
}

.popover {
    font-family: wf_segoe-ui_normal,wf_segoe-ui_semilight,wf_segoe-ui_light,Arial,sans-serif;
    font-size: 1rem;
}

.nav-tabs {
    margin-bottom: 20.0px;
}

/*PORTAL BASE*/
.portalbase-navbar {
    background-color: var(--main-color);
    padding: 0;
    padding-left: 50px;
}

.portalbase-navbar-sidebar-toggle {
    width: 30.0px;
    height: 30.0px;
    margin: 10.0px;
    cursor: pointer;
}

.portalbase-navbar-apptitle {
    margin: 10.0px;
    color: white;
}

.portalbase-navbar-loginbutton {
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    margin: 10.0px;
    margin-top: 12.5px;
}

.portalbase-navbar-loginbutton a:hover {
    color: var(--main-color);
}

.portalbase-navbar-icon {
    color: white;
    margin: 10.0px;
    margin-top: 12.5px;
    cursor: pointer;
}

.portalbase-navbar-profile {
    min-width: 350.0px;
}

.portalbase-navbar-profile-foto {
    max-width: 50px;
}

.portalbase-navbar-profile-foto-container {
    border-right: 1px solid #336699;
}

.portalbase-navbar-linguagens {
    color: white;
    margin: 10.0px;
}

.portalbase-navbar-linguagens-menu {
    min-width: 0;
}

.portalbase-progressbar-container {
    height: 3.0px;
}

.portalbase-progressbar-container > svg {
    display: block;
}

.portalbase-main {
    margin-top: 20.0px;
    margin-bottom: 100.0px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 100vh;
}

.portalbase-sidebar {
    background-color: var(--lateral-color);
    transition: all 0.3s;
}

.portalbase-sidebar .input-group {
    padding: 10px;
}

.portalbase-sidebar .list-group-item {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    background-color: var(--lateral-color);
    line-height: 50px;
}

.portalbase-sidebar .list-group-item-action:focus {
    color: black;
    background-color: #bababa;
}

.portalbase-sidebar .list-group-item-action:active:focus {
    color: black;
    background-color: #bababa;
}

.portalbase-sidebar .portalbase-sidebar-submenuitem {
    color: black;
    background-color: #f2f2f2;
}

.portalbase-sidebar.active {
    margin-left: calc(-1 * var(--sidebar-width));
}

.card-header.portalbase-mensagem-card-header {
    background-color: var(--lateral-color);
}

.portalbase-app-square {
    float: left;
    margin: 10.0px;
    text-align: center;
    display: table;
}

.portalbase-app-square.small {
    height: 30.0px;
    width: 30.0px;
    font-size: 18.75px;
}

.portalbase-app-square.medium {
    height: 50.0px;
    width: 50.0px;
    font-size: 31.25px;
}

.portalbase-app-square.large {
    height: 100.0px;
    width: 100.0px;
    font-size: 62.5px;
}

.portalbase-app-square span {
    color: white;
    vertical-align: middle;
    display: table-cell;
    line-height: 0;
}

.portalbase-footer {
    height: 100px;
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .portalbase-sidebar {
        margin-left: calc(-1 * var(--sidebar-width));
    }

    .portalbase-sidebar.active {
        margin-left: 0;
    }
}

/*INTRANET*/

.intranet-destaque {
    width: inherit;
    height: auto;
    min-height: 100px;
}

.intranet-destaque p {
    color: white;
    padding: 10.0px;
}

.intranet-app {
    background-clip: content-box;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.intranet-app:hover {
    background-color: var(--lateral-color);
}

.intranet-app a {
    margin-top: 25.0px;
    display: table;
}

.intranet-fav .intranet-fav-text {
    margin-top: 15.0px;
    display: table;
}

div.table {
    display: table;
}

div.table .file-row {
    display: table-row;
}

div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}

div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}

.col-md-6 {
    margin-bottom: 1%;
}

