﻿@model IntranetSite.ViewModels.DetailsConteudoPartialViewModel

<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.Conteudo.Titulo</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div>
                @*<h4>Descrição</h4>
            <hr />*@
                <dl class="row">
                    <dd class="col-md-12">
                        @Html.DisplayFor(model => model.Conteudo.Descricao)
                    </dd>
                </dl>
            </div>
            <div>
                <dl class="row">
                    @if (Model.Conteudo.Data1 != null && Model.Conteudo.Data1 != new DateTime())
                    {
                        <dt class="col-md-3">
                            @Html.DisplayFor(model => model.Conteudo.LabelData1)
                        </dt>

                        <dd class="col-md-3">
                            @Model.Conteudo.Data1.Value.ToString("MM/dd/yyyy")
                            @*@Html.DisplayFor(model => model.Conteudo.Data1)*@
                            @*<a target="_blank" href="@Model.Conteudo.Data1">@Model.Conteudo.Data1</a>*@

                        </dd>
                    }
                </dl>
            </div>
            <div>
                @*<h4>Datas de Publicação</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <dl class="row">
                    <dt class="col-md-4">
                        @Html.DisplayName("Data de Início de Publicação")
                    </dt>

                    <dd class="col-md-2">
                        @Model.Conteudo.DataInicioPublicacao.Value.ToShortDateString()
                    </dd>

                    <dt class="col-md-4">
                        @Html.DisplayName("Data de Fim de Publicação")
                    </dt>

                    <dd class="col-md-2">
                        @Model.Conteudo.DataFimPublicacao.Value.ToShortDateString()
                    </dd>

                </dl>
            </dd>
        </dl>*@
                <div>
                    <h4>Anexos</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dd>
                            <div class="table-responsive">
                                <div class="table table-striped" id="previews">
                                    @foreach (var item in Model.ConteudoAnexosList)
                                    {
                                        <div id="template" class="file-row">
                                            <div>
                                                <p class="name" data-dz-name>@item.Anexo</p>
                                            </div>
                                            <div class="text-right">
                                                <a data-dz-remove class="btn btn-secondary remove" href="@Url.Action("DownloadConteudoAnexoFile", new { conteudoDataCriacao = Model.Conteudo.DataCriacao, conteudoCodigoOrgao = Model.Conteudo.CodigoOrgao, conteudoAnexo = item.Anexo })" target="_blank">
                                                    <span class="fa fa-download"></span>

                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>


                @{
                    Html.RenderPartial("FooterDetailsConteudoPartial", Model);
                }

            </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
        <span class="fa fa-times"></span>
        Fechar
    </button>
</div>