﻿@model IntranetSite.ViewModels.DetailsConteudoPartialViewModel
@using IntranetSite.App_Start

<style>
    .myVideo {
        padding: 10px;
    }
    iframe
    {
        margin: 0 auto;
        width: 560px;
        display: block;
        height: 325px;
    }
    video {
        margin: 0 auto;
        width: 560px;
        display: block;
        height: 325px;
    }
</style>

<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.Conteudo.Titulo - @Model.Conteudo.Titulo1 </h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs nav-fill" id="FichaCursoTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("curso", 1, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 1)" role="tab">
                Geral
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("curso", 2, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 2)" role="tab">
                Apresentação
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("curso", 3, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 3)" role="tab">
                Saídas
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("curso", 4, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 4)" role="tab">
                Candidatura
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="@string.Concat("curso", 5, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 5)" role="tab">
                Acreditação
            </a>
        </li>
    </ul>


    <div class="row">
        <div class="col-md-12">
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade" id="@string.Concat("curso-tab", 1)" role="tabpanel">
                    <div>
                        <dl class="row">
                            <dd class="col-md-12">
                                @Html.DisplayFor(model => model.Conteudo.Descricao)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <div>
                            <h4>Comissão de Curso</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dd>

                                    @Html.Partial("ListCursoDiretores", Model.Ficha_Curso_Dados.CursoDiretores)

                                </dd>
                                @if (Model.Conteudo.Representante1.Nome != "" || Model.Conteudo.Representante2.Nome != "")
                                {
                                    <dd>
                                        <dl class="">

                                            <dt>
                                                @Html.DisplayName("Estudantes Representantes")
                                            </dt>
                                            @if (Model.Conteudo.Representante1.Nome != "")
                                            {
                                                <dd>
                                                    @Html.DisplayFor(model => Model.Conteudo.Representante1.Nome)
                                                </dd>
                                                <dd>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    @{
                                                        string email1 = String.Concat(Model.Conteudo.Representante1.Email);
                                                        string mailto1 = String.Concat("mailto:", email1);
                                                    }
                                                    <a href=@mailto1>@email1</a>
                                                </dd>
                                            }
                                            @if (Model.Conteudo.Representante2.Nome != "")
                                            {
                                                <dd>
                                                    @Html.DisplayFor(model => Model.Conteudo.Representante2.Nome)
                                                </dd>
                                                <dd>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    @{
                                                        string email2 = String.Concat(Model.Conteudo.Representante2.Email);
                                                        string mailto2 = String.Concat("mailto:", email2);
                                                    }
                                                    <a href=@mailto2>@email2</a>
                                                </dd>
                                            }

                                        </dl>
                                    </dd>
                                }
                            </dl>

                        </div>
                    </div>

                    <div>
                        <dl class="row">
                            @if (Model.Conteudo.LabelCheck1 != null && Model.Conteudo.LabelCheck1 != "")
                            {
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelCheck1)
                                </dt>

                                <dd class="col-md-9">

                                    @*@Html.CheckBox("Conteudo.Check1", Model.Conteudo.Check1 ?? false, new { htmlAttributes = new { @class = "form-control", Type = "checkbox" }, disabled = "disabled", style = "transform: scale(1.5);-webkit-transform: scale(1.5);" })*@
                                    @if (Model.Conteudo.Check1.Value == true)
                                    {
                                        <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color:red"></i>
                                    }


                                </dd>
                            }
                        </dl>
                    </div> 
                    <div>
                        <dl class="row">
                            @if (Model.Conteudo.Link1 != null && Model.Conteudo.Link1 != "")
                            {
                                @*<dt class="col-md-3">
                        @Html.DisplayFor(model => model.Conteudo.LabelLink1)
                    </dt>*@

                                <dd class="col-md-12">

                                    @*@Html.DisplayFor(model => model.Conteudo.Link1)*@
                                    @*<a target="_blank" href="@Model.Conteudo.Link1">@Model.Conteudo.Link1</a>*@
                                    @*<pre name="https://www.w3schools.com/html/mov_bbb.mp4" class="myVideo"></pre>*@
                                    <pre name="@Model.Conteudo.Link1" class="myVideo"></pre>

                                </dd>
                            }
                        </dl>
                    </div>
                    <div>
                        @if (Model.ConteudoAnexosList != null && Model.ConteudoAnexosList.Count() > 0)
                        {
                            <div>
                                <h4>Anexos</h4>
                                <hr />

                                <dl class="dl-horizontal">
                                    <dd>
                                        <div class="table-responsive">
                                            <div class="table table-striped" id="previews">
                                                @foreach (var item in Model.ConteudoAnexosList)
                                                {

                                                    <div id="template" class="file-row">
                                                        <div>
                                                            <p class="name" data-dz-name>@item.Anexo</p>
                                                        </div>
                                                        <div class="text-right">
                                                            <a data-dz-remove class="btn btn-secondary remove" href="@Url.Action("DownloadConteudoAnexoFile", new { conteudoDataCriacao = Model.Conteudo.DataCriacao, conteudoCodigoOrgao = Model.Conteudo.CodigoOrgao, conteudoAnexo = item.Anexo })" target="_blank">
                                                                <span class="fa fa-download"></span>

                                                            </a>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        }
                        @if (Model.Fotos != null && Model.Fotos.Count() > 0)
                        {

                            <div>
                                <h4>Foto</h4>
                                <hr />

                                <dl class="dl-horizontal">
                                    <dd>
                                        <div class="table-responsive">
                                            <div class="table table-striped">
                                                @foreach (var item in Model.Fotos)
                                                {
                                                    <div class="col-md-12 text-center">
                                                        <img src="@item" />
                                                    </div>
                                                    <br />

                                                }
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        }
                    </div>
                </div>


                <div class="tab-pane fade" id="@string.Concat("curso-tab", 2)" role="tabpanel">
                    <div>

                        @if (Model.Conteudo.Titulo2 != null && Model.Conteudo.Titulo2 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo2)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Titulo2)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Descricao1 != null && Model.Conteudo.Descricao1 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao1)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao1)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Titulo3 != null && Model.Conteudo.Titulo3 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo3)
                                </dt>

                                <dd class="col-md-9" style="white-space: pre-line">

                                    @Html.DisplayFor(model => model.Conteudo.Titulo3)
                                    <br />
                                    <a href="@Model.Conteudo.Link2" target="_blank">@Model.Conteudo.LabelLink2</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link3 != null && Model.Conteudo.Link3 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Plano de Estudos/Diário da República")
                                </dt>

                                <dd class="col-md-9">

                                    <a href="@Model.Conteudo.Link3" target="_blank">@Model.Conteudo.LabelLink3</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link4 != null && Model.Conteudo.Link4 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Unidades Curriculares")
                                </dt>

                                <dd class="col-md-9">

                                    <a href="@Model.Conteudo.Link4" target="_blank">@Model.Conteudo.Link4</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }
                        <div>
                            <dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Plano de Estudos")
                                </dt>

                                <dd class="col-md-9">

                                    <div class="list-group">
                                        <a data-toggle="collapse" href="@string.Concat("#PlanoCollapse")" class="list-group-item list-group-item-action">

                                            <div class="float-right">
                                                <span class="float-right">
                                                    <span class="fa fa-angle-double-down"></span>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="@string.Concat("PlanoCollapse")" class="collapse">
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dd>

                                                @Html.Partial("ListUCs", Model.Ficha_Curso_Dados.UCs)

                                            </dd>
                                        </dl>
                                    </div>

                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div>

                        @if (Model.Conteudo.Titulo4 != null && Model.Conteudo.Titulo4 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo4)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Titulo4)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Titulo5 != null && Model.Conteudo.Titulo5 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo5)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Titulo5)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Valor1 != 0)
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelValor1)
                                </dt>

                                <dd class="col-md-9">

                                    @Html.DisplayFor(model => model.Conteudo.Valor1)

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link5 != null && Model.Conteudo.Link5 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Acordos de Mobilidade")
                                </dt>

                                <dd class="col-md-9">

                                    <a href="@Model.Conteudo.Link5" target="_blank">@Model.Conteudo.LabelLink5</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link6 != null && Model.Conteudo.Link6 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Normas Regulamentares")
                                </dt>

                                <dd class="col-md-9">

                                    <a href="@Model.Conteudo.Link6" target="_blank">@Model.Conteudo.LabelLink6</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link7 != null && Model.Conteudo.Link7 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Prémios ou Destaques")
                                    <br />
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </dt>

                                <dd class="col-md-9">

                                    @Html.Partial("ListLinks", Model.Links.Where(x => x.Tipo == "Premios"))

                                </dd>
                            </dl>
                        }

                    </div>



                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 3)" role="tabpanel">
                    <div>

                        @if (Model.Conteudo.Descricao2 != null && Model.Conteudo.Descricao2 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao2)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao2)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Descricao3 != null && Model.Conteudo.Descricao3 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao3)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao3)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Descricao4 != null && Model.Conteudo.Descricao4 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao4)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao4)
                                    </span>
                                </dd>
                            </dl>
                        }

                    </div>
                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 4)" role="tabpanel">
                    <div>

                        @if (Model.Conteudo.Link8 != null && Model.Conteudo.Link8 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Código DGES")
                                </dt>

                                <dd class="col-md-9">

                                    <a href="@Model.Conteudo.Link8" target="_blank">@Model.Conteudo.LabelLink8</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Descricao5 != null && Model.Conteudo.Descricao5 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao5)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao5)
                                    </span>
                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Descricao6 != null && Model.Conteudo.Descricao6 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao6)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao6)
                                    </span>
                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Descricao7 != null && Model.Conteudo.Descricao7 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao7)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao7)
                                    </span>
                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Titulo6 != null && Model.Conteudo.Titulo6 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo6)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Titulo6)
                                    </span>
                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Titulo7 != null && Model.Conteudo.Titulo7 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelTitulo7)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Titulo7)
                                    </span>
                                </dd>
                            </dl>
                        }

                        @if (Model.Conteudo.Descricao4 != null && Model.Conteudo.Descricao4 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelDescricao4)
                                </dt>

                                <dd class="col-md-9">
                                    <span style="white-space: pre-line">
                                        @Html.DisplayFor(model => model.Conteudo.Descricao4)
                                    </span>
                                </dd>
                            </dl>
                        }
                        @if (Model.Conteudo.Link9 != null && Model.Conteudo.Link9 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Mais Informações")
                                </dt>

                                <dd class="col-md-9">

                                    @Html.Partial("ListLinks", Model.Links.Where(x => x.Tipo == "Informacoes"))

                                </dd>
                            </dl>
                        }

                    </div>

                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 5)" role="tabpanel">
                    <div>

                        @if (Model.Conteudo.Data1 != null && Model.Conteudo.Data1 != new DateTime())
                        {
                            <dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelData1)
                                </dt>

                                <dd class="col-md-9">

                                    @Model.Conteudo.Data1.Value.ToString("MM/dd/yyyy")
                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Link10 != null && Model.Conteudo.Link10 != "")
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayName("Deliberação da A3ES")
                                </dt>

                                <dd class="col-md-9">

                                    @*@Html.DisplayFor(model => model.Conteudo.Link1)*@
                                    <a href="@Model.Conteudo.Link10" target="_blank">@Model.Conteudo.LabelLink10</a> <i class="fa fa-external-link" aria-hidden="true"></i>

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Data2 != null && Model.Conteudo.Data2 != new DateTime())
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelData2)
                                </dt>

                                <dd class="col-md-9">

                                    @Model.Conteudo.Data2.Value.ToString("MM/dd/yyyy")

                                </dd>
                            </dl>
                        }

                    </div>
                    <div>

                        @if (Model.Conteudo.Data3 != null && Model.Conteudo.Data3 != new DateTime())
                        {<dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayFor(model => model.Conteudo.LabelData3)
                                </dt>

                                <dd class="col-md-9">

                                    @Model.Conteudo.Data3.Value.ToString("MM/dd/yyyy")

                                </dd>
                            </dl>
                        }

                    </div>


                </div>
            </div>
            @{
                Html.RenderPartial("FooterDetailsConteudoPartial", Model);
            }
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
        <span class="fa fa-times"></span>
        Fechar
    </button>
</div>

<script>
    $(document).ready(function () {

        $("#FichaCursoTabs li:first-child a").tab("show");


        
        $('.myVideo').each(function () {
            function getId(url) {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var match = url.match(regExp);

                if (match && match[2].length == 11) {
                    return match[2];
                } else {
                    return 'error';
                }
            }
            var videoId = $(this).attr("name");

            var myId = getId(videoId);
            if (myId != "error") {
                $('#videoSrc').html(myId);

                $(this).html('<iframe src="//www.youtube.com/embed/' + myId + '" frameborder="0" allowfullscreen></iframe>');
            }
            else {
                $(this).html('<video src="' + videoId + '" frameborder="0" allowfullscreen controls="true"></video>');
            }

        });
        
    });

</script>