﻿@model IntranetSite.ViewModels.CreateEditConteudoViewModel
@using IntranetSite.App_Start

@{
    ViewBag.Title = "Editar Conteúdo";
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Conteudo.NomeTipoConteudo - @Model.Conteudo.NomeOrgao</h4>
<hr />

<ul class="nav nav-tabs nav-fill" id="FichaCursoTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="@string.Concat("curso", 1, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 1)" role="tab">
            Geral
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="@string.Concat("curso", 2, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 2)" role="tab">
            Apresentação
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="@string.Concat("curso", 3, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 3)" role="tab">
            Saídas
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="@string.Concat("curso", 4, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 4)" role="tab">
            Candidatura
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="@string.Concat("curso", 5, "Tab")" data-toggle="tab" href="@string.Concat("#curso-tab", 5)" role="tab">
            Acreditação
        </a>
    </li>
</ul>


@using (Html.BeginForm("EditConteudo", "FornCurso", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">

            @*<h4>@Model.Conteudo.NomeTipoConteudo</h4>
        <hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Conteudo.Id)
            @Html.HiddenFor(model => model.Conteudo.IUPI)
            @Html.HiddenFor(model => model.Conteudo.DataCriacao)
            @Html.HiddenFor(model => model.Conteudo.CodigoOrgao)
            @Html.HiddenFor(model => model.Conteudo.IsForEstudante)
            @Html.HiddenFor(model => model.Conteudo.IdTipoConteudo)
            @Html.HiddenFor(model => model.Conteudo.IdOrgao)
            @Html.HiddenFor(model => model.Conteudo.NomeTipoConteudo)
            @Html.HiddenFor(model => model.Conteudo.NomeOrgao)

            @*Labels*@
            @Html.HiddenFor(model => model.Conteudo.LabelLink1)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo1)
            @Html.HiddenFor(model => model.Conteudo.LabelCheck1)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo2)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao1)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo3)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo4)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo5)
            @Html.HiddenFor(model => model.Conteudo.LabelValor1)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao2)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao3)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao4)
            @Html.HiddenFor(model => model.Conteudo.LabelValor2)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao5)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao6)
            @Html.HiddenFor(model => model.Conteudo.LabelDescricao7)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo6)
            @Html.HiddenFor(model => model.Conteudo.LabelTitulo7)
            @Html.HiddenFor(model => model.Conteudo.LabelData1)
            @Html.HiddenFor(model => model.Conteudo.LabelData2)
            @Html.HiddenFor(model => model.Conteudo.LabelData3)

            @Html.HiddenFor(model => model.Conteudo.LabelLink8)
            @Html.HiddenFor(model => model.Conteudo.Titulo1)


            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade" id="@string.Concat("curso-tab", 1)" role="tabpanel">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Conteudo.Titulo, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Conteudo.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Conteudo.Titulo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Conteudo.Descricao, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Conteudo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Conteudo.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Conteudo.DataInicioPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Conteudo.DataInicioPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Conteudo.DataInicioPublicacao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Conteudo.DataFimPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Conteudo.DataFimPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Conteudo.DataFimPublicacao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.Label("model.Conteudo.LabelTitulo1", Model.Conteudo.LabelTitulo1, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Conteudo.Titulo1, new { htmlAttributes = new { @class = "form-control col-md-3", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Conteudo.Titulo1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.Label("model.Conteudo.LabelCheck1", Model.Conteudo.LabelCheck1, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.CheckBox("Conteudo.Check1", Model.Conteudo.Check1 ?? false, new { htmlAttributes = new { @class = "form-control", Type = "checkbox" }, style = "transform: scale(2.0);-webkit-transform: scale(2.0);" })
                                        @Html.ValidationMessageFor(model => model.Conteudo.Check1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="control-label col-md-12">Comissão de Curso</h4>
                                <br />
                                <div class="col-md-12">

                                    @Html.Partial("ListCursoDiretores", Model.Ficha_Curso_Dados.CursoDiretores)

                                </div>
                                <div class="small col-md-12">
                                    <em>*Fonte de dados: DSD</em>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("model.Conteudo.LabelLink1", Model.Conteudo.LabelLink1, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Conteudo.Link1, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                                    @Html.ValidationMessageFor(model => model.Conteudo.Link1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="mydrop_foto">
                                @Html.Label("Foto", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div id="actions" class="col-md-12">
                                    <span class="btn btn-block btn-success fileinput-button foto dz-clickable">
                                        <span class="fa fa-file"></span>
                                        Escolher uma foto
                                    </span>
                                    @Html.ValidationMessage("ConteudoAnexoFoto", "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div class="table table-striped" id="previews_foto">

                                        </div>
                                    </div>

                                    <div id="tpl_foto">
                                        <div id="template_foto" class="file-row">
                                            <div>
                                                <p class="name" data-dz-name></p>
                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                            </div>
                                            <div>
                                                <p class="size" data-dz-size></p>
                                            </div>
                                            <div class="text-right">
                                                <button type="button" data-dz-remove class="btn btn-warning remove_foto">
                                                    <span class="fa fa-times"></span>
                                                    Remover
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="mydrop_file">
                                @Html.Label("Anexos", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div id="actions" class="col-md-12">
                                    <span class="btn btn-block btn-success fileinput-button file dz-clickable">
                                        <span class="fa fa-file"></span>
                                        Escolher um ficheiro
                                    </span>
                                    @Html.ValidationMessage("ConteudoAnexoFile", "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div class="table table-striped" id="previews">

                                        </div>
                                    </div>

                                    <div id="tpl">
                                        <div id="template" class="file-row">
                                            <div>
                                                <p class="name" data-dz-name></p>
                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                            </div>
                                            <div>
                                                <p class="size" data-dz-size></p>
                                            </div>
                                            <div class="text-right">
                                                <button type="button" data-dz-remove class="btn btn-warning remove">
                                                    <span class="fa fa-times"></span>
                                                    Remover
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @{
                                Html.RenderPartial("CreateEditConteudoPropriedadesPartial", Model);
                            }
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="@string.Concat("curso-tab", 2)" role="tabpanel">
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo2", Model.Conteudo.LabelTitulo2, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Titulo2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Titulo2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao1", Model.Conteudo.LabelDescricao1, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao1, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo3", Model.Conteudo.LabelTitulo3, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="col-md-12 row">
                                @Html.EditorFor(model => model.Conteudo.Titulo3, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome (Código) " } })
                                @Html.ValidationMessageFor(model => model.Conteudo.Titulo3, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink2, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })
                                @Html.EditorFor(model => model.Conteudo.Link2, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink2, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Plano de Estudos/Diário da República", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink3, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })

                                @Html.EditorFor(model => model.Conteudo.Link3, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink3, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Unidades Curriculares", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink4, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })
                                @Html.EditorFor(model => model.Conteudo.Link4, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink4, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link4, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="list-group">
                                <a data-toggle="collapse" href="@string.Concat("#PlanoCollapse")" class="list-group-item list-group-item-action">
                                    Plano de Estudos
                                    <div class="float-right">
                                        <span class="float-right">
                                            <span class="fa fa-angle-double-down"></span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div id="@string.Concat("PlanoCollapse")" class="collapse">
                                <hr />
                                <dl class="dl-horizontal">
                                    <dd>

                                        @Html.Partial("ListUCs", Model.Ficha_Curso_Dados.UCs)

                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo4", Model.Conteudo.LabelTitulo4, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Titulo4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Titulo4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo5", Model.Conteudo.LabelTitulo5, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Titulo5, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Titulo5, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelValor1", Model.Conteudo.LabelValor1, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Valor1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Valor1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Acordos de Mobilidade", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink5, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })
                                @Html.EditorFor(model => model.Conteudo.Link5, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink5, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link5, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Normas Regulamentares", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink6, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })
                                @Html.EditorFor(model => model.Conteudo.Link6, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink6, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link6, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-md-4">
                            @*<span class="label">Prémios ou Destaques</span>*@
                            @Html.Label("Prémios ou Destaques", htmlAttributes: new { @class = "control-label" })
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-12 col-md-12" id="Premios">
                            @Html.Partial("ListLinks", IntranetSession.Session.ConteudoLinksList.Where(x => x.Tipo == "Premios"))
                        </div>

                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.Editor("Nome_Premios", new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome" } })

                                @Html.Editor("URL_Premios", new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                                @Html.Editor("Data_Premios", new { htmlAttributes = new { @class = "form-control col-md-10", Type = "date", placeholder = "Data" } })

                                <div class="input-group-append">
                                    <button class="btn btn-success AddLink" type="button" id="Premios"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-4">


                                    @Html.ValidationMessage("Nome_Premios", "", new { @class = "text-danger", id = "Nome_Premios_Validation" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessage("URL_Premios", "", new { @class = "text-danger", id = "URL_Premios_Validation" })
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessage("Data_Premios", "", new { @class = "text-danger", id = "Data_Premios_Validation" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 3)" role="tabpanel">
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao2", Model.Conteudo.LabelDescricao2, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao2, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao3", Model.Conteudo.LabelDescricao3, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao3, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao4", Model.Conteudo.LabelDescricao4, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao4, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 4)" role="tabpanel">
                    <div class="form-group">
                        @Html.Label("Código DGES", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink8, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Código" } })

                                @Html.EditorFor(model => model.Conteudo.Link8, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink8, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link8, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelValor2", Model.Conteudo.LabelValor2, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Valor2, new { htmlAttributes = new { @class = "form-control", Type = "number" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Valor2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao5", Model.Conteudo.LabelDescricao5, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao5, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao5, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao6", Model.Conteudo.LabelDescricao6, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao6, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao6, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelDescricao7", Model.Conteudo.LabelDescricao7, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Descricao7, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Descricao7, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo6", Model.Conteudo.LabelTitulo6, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Titulo6, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Titulo6, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelTitulo7", Model.Conteudo.LabelTitulo7, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Titulo7, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Titulo7, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Mais Informações", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-xs-12 col-md-12" id="Informacoes">
                            @Html.Partial("ListLinks", IntranetSession.Session.ConteudoLinksList.Where(x => x.Tipo == "Informacoes"))
                        </div>
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.Editor("Nome_Informacoes", new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })

                                @Html.Editor("URL_Informacoes", new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                                <div class="input-group-append">
                                    <button class="btn btn-success AddLink" type="button" id="Informacoes"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    @Html.ValidationMessage("Nome_Informacoes", "", new { @class = "text-danger", id = "Nome_Informacoes_Validation" })
                                </div>
                                <div class="col-md-5">
                                    @Html.ValidationMessage("URL_Informacoes", "", new { @class = "text-danger", id = "URL_Informacoes_Validation" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="@string.Concat("curso-tab", 5)" role="tabpanel">
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelData1", Model.Conteudo.LabelData1, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Data1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Data1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Deliberação da A3ES", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Link</span>
                                </div>
                                @Html.EditorFor(model => model.Conteudo.LabelLink10, new { htmlAttributes = new { @class = "form-control col-md-10", placeholder = "Nome do Link" } })
                                @Html.EditorFor(model => model.Conteudo.Link10, new { htmlAttributes = new { @class = "form-control col-md-10", Type = "url", placeholder = "URL" } })

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                @Html.ValidationMessageFor(model => model.Conteudo.LabelLink10, "", new { @class = "text-danger" })

                                @Html.ValidationMessageFor(model => model.Conteudo.Link10, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelData2", Model.Conteudo.LabelData2, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Data2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Data2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("model.Conteudo.LabelData3", Model.Conteudo.LabelData3, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Conteudo.Data3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conteudo.Data3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <div class="col-md-12">
                    <a class="btn btn-danger" href="@Url.Action("EditConteudos", "Conteudos")">
                        <span class="fa fa-times"></span>
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Gravar Conteúdo
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>
}

<script>
    $(document).ready(function () {

        $("#FichaCursoTabs li:first-child a").tab("show");


        var previewWrapper = document.querySelector("#tpl");
        previewWrapper.id = "";
        var previewTemplate = previewWrapper.innerHTML;
        previewWrapper.remove();

        var myDropzone = new Dropzone(document.getElementById("mydrop_file"), {
            url: "@Url.Action("CreateConteudoAnexoFiles")",
            paramName: "files",
            acceptedFiles: 'application/*',
            maxFiles: 10,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            createImageThumbnails: false,
            clickable: ".file",

            dictFileTooBig: "O tamanho deste ficheiro é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter este ficheiro (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 10 ficheiro",

            init: function() {
                let myDropzone = this;

                myDropzone.on("success", function (file) {
                    file.previewElement.querySelector(".remove").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFile")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone.options.maxFiles = myDropzone.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetConteudoAnexoFiles")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone.files.push(mockFile);

                        myDropzone.emit("addedfile", mockFile);
                        myDropzone.emit("complete", mockFile);
                        myDropzone.emit("success", mockFile);

                        myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                    });
                });
            }
        });

        var previewWrapper_foto = document.querySelector("#tpl_foto");
        previewWrapper_foto.id = "";
        var previewTemplate_foto = previewWrapper_foto.innerHTML;
        previewWrapper_foto.remove();

        var myDropzone_foto = new Dropzone(document.getElementById("mydrop_foto"), {
            url: "@Url.Action("CreateConteudoAnexoFotos")",
            paramName: "files",
            acceptedFiles: 'image/*',
            maxFiles: 10,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate_foto,
            previewsContainer: "#previews_foto",
            createImageThumbnails: false,
            clickable: ".foto",

            dictFileTooBig: "O tamanho desta foto é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter esta foto (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 1 foto!",

            init: function() {
                let myDropzone_foto = this;

                myDropzone_foto.on("success", function (file) {
                    file.previewElement.querySelector(".remove_foto").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFotos")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone_foto.options.maxFiles = myDropzone_foto.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetConteudoAnexoFotos")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone_foto.files.push(mockFile);

                        myDropzone_foto.emit("addedfile", mockFile);
                        myDropzone_foto.emit("complete", mockFile);
                        myDropzone_foto.emit("success", mockFile);

                        myDropzone_foto.options.maxFiles = myDropzone_foto.options.maxFiles - 1;
                    });
                });
            }
        });

          $(".AddLink").click(function () {
              var tipo = $(this).attr("id");
              var nome = $("#Nome_"+tipo).val();
              var url = $("#URL_"+tipo).val();

              var data = $("#Data_"+tipo).val();

              if (nome != "" && url != "") {
                  $.post("@Url.Action("AddLink")", { tipo: tipo, nome: nome, url: url, data: data }, function (data) {
                      $('#' + tipo).html(data);
                  });
              }
              if (nome == "") {
                  $("#Nome_"+tipo+"_Validation").text("Preencha o nome!");
              }
              if (url == "") {
                  $("#URL_" + tipo + "_Validation").text("Preencha o url!");
              }

          });



    });
</script>
