﻿@model IEnumerable<IntranetAssemblies.Models.Intranet.Link>
<div class="table-responsive table-borderless">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.URL" target="_blank">@item.Nome</a> <i class="fa fa-external-link" aria-hidden="true"></i>
                </td>
                @if (item.Data != new DateTime())
                {
                    <td>
                        @item.Data.ToString("MM/dd/yyyy")
                    </td>
                }
                @if (ViewBag.Detalhes != true)
                {
                    <td>
                        <button class="btn btn-danger RemoverLink" type="button" id="@item.Id" name="@item.Tipo">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                }
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $(".RemoverLink").click(function () {
            var id = $(this).attr("id");
            var tipo = $(this).attr("name");
            $.post("@Url.Action("RemoveLink")", {id:id}, function (data) {
                    $('#'+tipo).html(data);
                });
            
            
        });
    });
</script>
