﻿@model IEnumerable<IntranetAssemblies.Models.QuoVadis.DSD.CursoDiretor>



@foreach (var item in Model)
{
<div class="row">
    @{string col_md = "";
    }
    @if (item.IDCoordenador != "" && item.IDViceCoordenador!="" && item.IDVogal!="")
    {

        col_md = String.Concat("col-md-4");
    }
    else
    {
        col_md = String.Concat("col-md-6");
    }
    @if (item.IDCoordenador != "")
    {
        <dl class=@col_md>

            <dt>
                @Html.DisplayName("Diretor/a de Curso")
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Diretor)
            </dd>
            <dd>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                @{
                    string emailDC = String.Concat(item.IDCoordenador, "@utad.pt");
                    string mailtoDC = String.Concat("mailto:", emailDC);
                }
                <a href=@mailtoDC>@emailDC</a>
            </dd>

        </dl>
    }
    @if (item.IDViceCoordenador != "")
    {
        <dl class=@col_md>

            <dt>
                @Html.DisplayName("Vice-Diretor/a de Curso")
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ViceDiretor)
            </dd>
            <dd>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                @{
                    string emailVD = String.Concat(item.IDViceCoordenador, "@utad.pt");
                    string mailtoVD = String.Concat("mailto:", emailVD);
                }
                <a href=@mailtoVD>@emailVD</a>
            </dd>

        </dl>

    }
    @if (item.IDVogal != "")
    {
        <dl class=@col_md>

            <dt>
                @Html.DisplayName("Vogal do Curso")
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Vogal)
            </dd>
            <dd>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                @{
                    string emailV = String.Concat(item.IDVogal, "@utad.pt");
                    string mailtoV = String.Concat("mailto:", emailV);
                }
                <a href=@mailtoV>@emailV</a>
            </dd>

        </dl>
    }
</div>
}


