﻿@model IEnumerable<IntranetAssemblies.Models.QuoVadis.SIGACAD.UC>

<div class="table-responsive table-borderless">
    <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Ano")
                </th>
                <th>
                    @Html.DisplayName("Semestre")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ECTS)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeDisciplina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnoCurricular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodoAula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ECTS)
                    </td>
                </tr>
            }

        </table>
</div>
