﻿@model IntranetSite.ViewModels.DetailsConteudoPartialViewModel
<style>
    .myVideo {
        padding: 10px;
    }

    iframe {
        margin: 0 auto;
        width: 560px;
        display: block;
        height: 325px;
    }

    video {
        margin: 0 auto;
        width: 560px;
        display: block;
        height: 325px;
    }
    img {
        margin: 0 auto;
        width: 90%;
        display: block;
        height: 250px;
    }
</style>
<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.Conteudo.Titulo</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div>
                @if (Model.Fotos != null && Model.Fotos.Count() > 0)
                {

                    <div>
                        @*<h4>Foto</h4>
                        <hr />*@

                        <dl class="dl-horizontal">
                            <dd>
                                <div class="table-responsive">
                                    <div class="table table-striped">
                                        @foreach (var item in Model.Fotos)
                                        {
                                            <div class="col-md-12 text-center">
                                                <img src="@item" />
                                            </div>
                                            <br />

                                        }
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                }
            </div>
            <div>
                <dl class="row">
                    <dd class="col-md-12">
                        @Html.DisplayFor(model => model.Conteudo.Descricao)
                    </dd>
                </dl>
            </div>
            <div>
                <dl class="row">
                    @if (Model.Conteudo.Link1 != null && Model.Conteudo.Link1 != "")
                    {
                        @*<dt class="col-md-3">
                @Html.DisplayFor(model => model.Conteudo.LabelLink1)
            </dt>*@

                        <dd class="col-md-12">

                            @*@Html.DisplayFor(model => model.Conteudo.Link1)*@
                            @*<a target="_blank" href="@Model.Conteudo.Link1">@Model.Conteudo.Link1</a>*@
                            @*<pre name="https://www.w3schools.com/html/mov_bbb.mp4" class="myVideo"></pre>*@
                            <pre name="@Model.Conteudo.Link1" class="myVideo"></pre>

                        </dd>
                    }
                </dl>
            </div>
            <div>
                @if (Model.ConteudoAnexosList != null && Model.ConteudoAnexosList.Count() > 0)
                {
                    <div>
                        <h4>Anexos</h4>
                        <hr />

                        <dl class="dl-horizontal">
                            <dd>
                                <div class="table-responsive">
                                    <div class="table table-striped" id="previews">
                                        @foreach (var item in Model.ConteudoAnexosList)
                                        {

                                            <div id="template" class="file-row">
                                                <div>
                                                    <p class="name" data-dz-name>@item.Anexo</p>
                                                </div>
                                                <div class="text-right">
                                                    <a data-dz-remove class="btn btn-secondary remove" href="@Url.Action("DownloadConteudoAnexoFile", new { conteudoDataCriacao = Model.Conteudo.DataCriacao, conteudoCodigoOrgao = Model.Conteudo.CodigoOrgao, conteudoAnexo = item.Anexo })" target="_blank">
                                                        <span class="fa fa-download"></span>

                                                    </a>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                }
               


                @{
                    Html.RenderPartial("FooterDetailsConteudoPartial", Model);
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
        <span class="fa fa-times"></span>
        Fechar
    </button>
</div>

<script>
    $('.myVideo').each(function () {
        function getId(url) {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);

            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return 'error';
            }
        }
        var videoId = $(this).attr("name");

        var myId = getId(videoId);
        if (myId != "error") {
            $('#videoSrc').html(myId);

            $(this).html('<iframe src="//www.youtube.com/embed/' + myId + '" frameborder="0" allowfullscreen></iframe>');
        }
        else {
            $(this).html('<video src="' + videoId + '" frameborder="0" allowfullscreen controls="true"></video>');
        }

    });
</script>