﻿@model IEnumerable<IntranetSite.ViewModels.OrgaosViewModel>

@if (Model.Count() > 0)
{
<div class="orgaosContactos" id="orgaosContactos">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="@string.Concat("#heading", item.Orgao.Id)">
                <h5 class="mb-0">
                    @if (item.HasChild)
                    {
                    <a class="btn btn-link" type="button" href="@Url.Action("Index", "Contactos", new { id = item.Orgao.Id })">
                        @item.Orgao.Nome
                    </a>
                    }
                    else
                    {
                    <a class="btn btn-link" type="button" href="#">
                        @item.Orgao.Nome
                    </a>
                    }
                    <span class=" float-right btn btn-link" type="button" data-toggle="collapse" data-target="@string.Concat("#orgaoCollapse", item.Orgao.Id)" aria-expanded="true" aria-controls="@string.Concat("#orgaoCollapse", item.Orgao.Id)">
                        <span class="fa fa-angle-double-down"></span>
                    </span>
                </h5>
            </div>

            <div id="@string.Concat("orgaoCollapse", item.Orgao.Id)" class="collapse show" aria-labelledby="@string.Concat("#heading", item.Orgao.Id)" data-parent="#orgaosContactos">
                <div class="card-body">
                    @if (item.Contacto.Id != 0)
                    {
                        <div class="row w-100">
                            <div class="col-12 col-sm-6 col-md-4 px-0 text-center">
                                @if (item.Contacto.FotoAnexo != "")
                                {
                                    <img style="width:100%; height:100%" src="@item.Contacto.FotoAnexo" />
                                }
                            </div>
                            <div class="col-12 col-sm-6 col-md-8 text-center text-sm-left">
                                <span class="text-muted" title="@item.Contacto.NomeOrgao"></span>
                                <a class="name lead" data-toggle="modal" data-target="#detailsContactoModal" data-id="@item.Contacto.Id" href="#detailsContactoModal">
                                    @item.Contacto.CodigoOrgao - @item.Contacto.NomeOrgao
                                </a>
                                <br>
                                @if (item.Contacto.Morada != null && item.Contacto.Morada != "")
                                {
                                    <span class="fa fa-map-marker fa-fw" data-toggle="tooltip" title="" data-original-title="@item.Contacto.Morada"></span>
                                    <span class="text-muted" style="white-space: pre-line">@Html.Raw(item.Contacto.Morada)</span>
                                    <br />
                                }
                                @if (item.Contacto.Telefone != null && item.Contacto.Telefone != "")
                                {
                                    <span class="fa fa-phone fa-fw" data-toggle="tooltip" title="" data-original-title="@item.Contacto.Telefone"></span>
                                    <span class="text-muted small">@item.Contacto.Telefone</span>
                                    <br>
                                }
                                @if (item.Contacto.Correioeletronico != null && item.Contacto.Correioeletronico != "")
                                {
                                    <span class="fa fa-envelope fa-fw" data-toggle="tooltip" data-original-title="" title="@item.Contacto.Correioeletronico"></span>
                                    <span class="text-muted small text-truncate">@item.Contacto.Correioeletronico</span>
                                    <br>
                                }
                                @if (item.Contacto.Site != null && item.Contacto.Site != "")
                                {
                                    <label class="fa fa-link fa-fw" data-toggle="tooltip" title="@item.Contacto.Site" data-original-title=""></label>
                                    <span class="text-muted small text-truncate"><a target="_blank" href="@item.Contacto.Site">@item.Contacto.Site</a></span>
                                    <br />
                                }
                                @if (item.Contacto.Extensao != null && item.Contacto.Extensao != "")
                                {
                                    <label class="text-sm-right text-center small" data-toggle="tooltip" title="" data-original-title="@item.Contacto.Extensao">Extensão:</label>
                                    <span class="text-muted small text-truncate">@item.Contacto.Extensao</span>
                                    <br>
                                }
                                @if (item.Contacto.Gabinete != null && item.Contacto.Gabinete != "")
                                {
                                    <label class="text-sm-right text-center small" data-toggle="tooltip" title="" data-original-title="@item.Contacto.Gabinete">Gabinete:</label>
                                    <span class="text-muted small text-truncate">@item.Contacto.Gabinete</span>
                                }


                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            Não existe contacto para apresentar.
                        </div>
                    }
                </div>
        </div>
</div>
    }
    </div>
}
else
{
    <div>
        Não existem contactos para apresentar.
    </div>
}
