﻿@model IEnumerable<IntranetAssemblies.Models.Intranet.Contactos>

@if (Model.Count() > 0)
{
    <div class="container">
        <!-- contacts card -->
        <div class="card card-default" id="card_contacts">
            <div class="panel-collapse collapse show" aria-expanded="true" style="">
                <ul class="list-group pull-down" id="contact-list">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item" id="@item.IdOrgao">
                            <div class="row w-100">
                                <div class="col-12 col-sm-6 col-md-3 px-0 text-center">
                                    <label class="name lead">@item.CodigoOrgao</label>
                                    <br />
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#detailsContactoModal" data-id="@item.Id">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                                <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                                    <span class="text-muted" title="@item.NomeOrgao"></span>
                                    <label class="name lead">@item.NomeOrgao</label>
                                    <br>
                                    @if (item.Morada != null && item.Morada != "")
                                    {
                                        <span class="fa fa-map-marker fa-fw" data-toggle="tooltip" title="" data-original-title="@item.Morada"></span>
                                        <span class="text-muted" style="white-space: pre-line">@Html.Raw(item.Morada)</span>
                                        <br />
                                    }
                                    @if (item.Telefone != null && item.Telefone != "")
                                    {
                                        <span class="fa fa-phone fa-fw" data-toggle="tooltip" title="" data-original-title="@item.Telefone"></span>
                                        <span class="text-muted small">@item.Telefone</span>
                                        <br>
                                    }
                                    @if (item.Correioeletronico != null && item.Correioeletronico != "")
                                    {
                                        <span class="fa fa-envelope fa-fw" data-toggle="tooltip" data-original-title="" title="@item.Correioeletronico"></span>
                                        <span class="text-muted small text-truncate">@item.Correioeletronico</span>
                                        <br>
                                    }
                                    @if (item.Site != null && item.Site != "")
                                    {
                                        <label class="fa fa-link fa-fw" data-toggle="tooltip" title="@item.Site" data-original-title=""></label>
                                        <span class="text-muted small text-truncate"><a target="_blank" href="@item.Site">@item.Site</a></span>
                                        <br />
                                    }
                                    @if (item.Extensao != null && item.Extensao != "")
                                    {
                                        <label class="text-sm-right text-center small" data-toggle="tooltip" title="" data-original-title="@item.Extensao">Extensão:</label>
                                        <span class="text-muted small text-truncate">@item.Extensao</span>
                                        <br>
                                    }
                                    @if (item.Gabinete != null && item.Gabinete != "")
                                    {
                                        <label class="text-sm-right text-center small" data-toggle="tooltip" title="" data-original-title="@item.Gabinete">Gabinete:</label>
                                        <span class="text-muted small text-truncate">@item.Gabinete</span>
                                    }


                                    </div>
                            </div>
                        </li>
                    }
                </ul>
                <!--/contacts list-->
            </div>
        </div>
    </div>
}
else
{
    <p>Não existem contactos para apresentar.</p>
}
