﻿@model IntranetAssemblies.Models.Intranet.Contactos

<style>
    span {
        white-space: pre-line;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>

<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.CodigoOrgao - @Model.NomeOrgao</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div>
                <dl class="row">
                    @if (Model.Titulo != null && Model.Titulo != "")
                    {
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>

                        <dd class="col-md-10">
                            <span> @Html.DisplayFor(model => model.Titulo)</span>
                        </dd>
                    }
                    </dl>
                <dl class="row">
                    @if (Model.Descricao != null && Model.Descricao != "")
                    {

                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-md-10">
                            <span rows="4"> @Html.Raw(Model.Descricao)</span>
                        </dd>
                    }
                    </dl>
</div>
            <div>
                <dl class="row">
                    @if (Model.Morada != null && Model.Morada != "")
                    {

                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Morada)
                        </dt>

                        <dd class="col-md-10">
                            <span> @Html.Raw(Model.Morada)</span>
                        </dd>
                    }
                    </dl>
                <dl class="row">
                    @if (Model.Telefone != null && Model.Telefone != "")
                    {

                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>


                        <dd class="col-md-4">
                            <span> @Html.DisplayFor(model => model.Telefone)</span>
                        </dd>
                    }

                    @if (Model.Correioeletronico != null && Model.Correioeletronico != "")
                    {
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Correioeletronico)
                        </dt>


                        <dd class="col-md-4">
                            <span> @Html.DisplayFor(model => model.Correioeletronico)</span>
                        </dd>
                    }
                    @if (Model.Extensao != null && Model.Extensao != "")
                    {
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Extensao)
                        </dt>


                        <dd class="col-md-4">
                            <span> @Html.DisplayFor(model => model.Extensao)</span>
                        </dd>
                    }
                    @if (Model.Gabinete != null && Model.Gabinete != "")
                    {
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Gabinete)
                        </dt>
                  

                        <dd class="col-md-4">
                            <span> @Html.DisplayFor(model => model.Gabinete)</span>
                        </dd>
                    }
                </dl>
                    <dl class="row">
                        @if (Model.Site != null && Model.Site != "")
                        {
                            <dt class="col-md-2">
                                @Html.DisplayNameFor(model => model.Site)
                            </dt>

                            <dd class="col-md-10">

                                @*@Html.DisplayFor(model => model.Conteudo.Link1)*@
                                <a target="_blank" href="@Model.Site">@Model.Site</a>

                            </dd>
                        }
                    </dl>

</div>
            <div>
                @if (Model.FotoAnexo != null && Model.FotoAnexo != "")
                {
                <div>
                    <h4>Foto</h4>
                    <hr />

                    @*<dl class="dl-horizontal">
            <dd>
                <div class="table-responsive">
                    <div class="table table-striped" id="previews">
                        <div id="template" class="file-row">
                            <div>
                                <p class="name" data-dz-name>@Model.Foto</p>
                            </div>
                            <div class="text-right">
                                <a data-dz-remove class="btn btn-secondary remove" href="@Url.Action("DownloadContactoAnexoFoto", new { contactoCodigoOrgao = Model.CodigoOrgao, idContacto = Model.Id, idOrgao = Model.IdOrgao, contactoAnexo = Model.Foto })" target="_blank">
                                    <span class="fa fa-download"></span>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </dd>
        </dl>*@

                    <div class="col-md-12 text-center">
                        <img src="@Model.FotoAnexo" />
                    </div>
                </div>
                }
            </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="fa fa-times"></span>
                    Fechar
                </button>
            </div>
