﻿@model IEnumerable<IntranetAssemblies.Models.Intranet.Contactos>

@{
    ViewBag.Title = "Lista de Contactos das Unidades Orgânicas";
}

<h2>@ViewBag.Title</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
                <input id="filterContactos" type="text" class="form-control" placeholder="Digite para procurar nos contactos...">
            </div>
        </div>

        <div id="contactos">
            @{
                Html.RenderPartial("ContactosPartial", Model);
            }
        </div>
    </div>
</div>
<div class="modal fade" id="detailsContactoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document" id="detailsContactoModalDialog">
        <div id="detailsContactoModalContent" class="modal-content">

        </div>
    </div>
    <div class="modal-dialog modal-dialog-centered text-center" role="document" id="loader" style="display:none">
        <div style="padding-left: 250px; padding-right: 250px; ">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#detailsContactoModal").on("hidden.bs.modal", function () {
            $('#detailsContactoModalContent').empty();
        });

        $("#filterContactos").keyup(function () {
            var keyword = $("#filterContactos").val();
            $("#contactos").load("@Url.Action("FilterContactos")", { keyword: keyword });
        });

        $("#detailsContactoModal").on("show.bs.modal", function (event) {
            var detailsContactoModalButton = $(event.relatedTarget);
            var id = detailsContactoModalButton.data("id");

            $('#detailsContactoModalDialog').fadeOut();
            $('#loader').fadeIn();

            setTimeout(function () {
                $("#detailsContactoModalContent").load("@Url.Action("DetailsContacto")", { idContacto: id }, function () {

                    $('#detailsContactoModalDialog').fadeIn();
                    $('#loader').fadeOut();
                });
               
            }, 300);
        });

    });
</script>
