﻿@model IntranetAssemblies.Models.Intranet.Contactos

<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">@Model.CodigoOrgao - @Model.NomeOrgao</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="form">
    <div class="modal-body container">
        <div id="editContactoModalAlert" class="alert alert-danger fade show" role="alert" aria-label="Fechar">
            <h4 class="alert-heading">Erro!</h4>
            <span id="editContactoModalAlertText"></span>
        </div>
        <div id="editContactoModalAlertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">
                <span class="fa fa-check-circle"></span>
                Sucesso!
            </h4>
            Dados submetidos com êxito!

            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IdOrgao)
            @Html.HiddenFor(model => model.CodigoOrgao)
            @Html.HiddenFor(model => model.NomeOrgao)
            @Html.HiddenFor(model => model.FotoAnexo)
            @Html.HiddenFor(model => model.Foto)

            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", rows = 5 } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Site, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                    @Html.ValidationMessageFor(model => model.Site, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Morada, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Morada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gabinete, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gabinete, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gabinete, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Extensao, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Extensao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Extensao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correioeletronico, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correioeletronico, new { htmlAttributes = new { @class = "form-control", Type = "email" } })
                    @Html.ValidationMessageFor(model => model.Correioeletronico, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Foto", htmlAttributes: new { @class = "control-label col-md-12" })
                <div id="actions" class="col-md-10">
                    <span class="btn btn-block btn-success fileinput-button dz-clickable">
                        <span class="fa fa-file"></span>
                        Escolher uma foto
                    </span>
                    @Html.ValidationMessage("ConteudoAnexoFile", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <div class="table table-striped" id="previews">

                        </div>
                    </div>

                    <div id="tpl">
                        <div id="template" class="file-row">
                            <div>
                                <p class="name" data-dz-name></p>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                            <div>
                                <p class="size" data-dz-size></p>
                            </div>
                            <div class="text-right">
                                <button type="button" data-dz-remove class="btn btn-warning remove">
                                    <span class="fa fa-times"></span>
                                    Remover
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button id="submit" type="button" class="btn btn-primary">
            <span class="fa fa-save"></span>
            Guardar Contacto
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <span class="fa fa-times"></span>
            Fechar
        </button>
    </div>
</form>

<script>
    $(document).ready(function () {
        cleanAlertAndError();
        $("#submit").click(function () {
                $.post("@Url.Action("EditContactos")", $("#form").serialize(), function (data) {
                    if (data != "error") {
                        if (data.success == false)
                        {
                            
                            cleanAlertAndError();
                            displayValidationErrorsEdit(data.errors);
                            topFunction();
                        }
                        else
                        {
                            if (data != "" && data > 0) {
                                //$(".modal").modal("hide");
                                
                                cleanAlertAndError();
                                $("#editContactoModalAlertSuccess").show();
                                topFunction();
                                
                            }
                            else
                            {
                               
                                cleanAlertAndError();
                                $("#editContactoModalAlertText").text("Ocorreu um erro ao submeter dados! Por favor tente de novo.");
                                $("#editContactoModalAlert").show();
                                topFunction();
                            }
                        }
                    }
                    else
                    {
                        cleanAlertAndError();
                        $("#editContactoModalAlertText").text("Ocorreu um erro ao submeter dados! Por favor tente de novo.");
                        $("#editContactoModalAlert").show();
                        topFunction();
                    }
            });

        });

        //Função que apagar os erros e mensagens anteriores
        function cleanAlertAndError() {
            $("#editContactoModalAlert").hide();
            $("#editContactoModalAlertSuccess").hide();
            $('.field-validation-valid').text("");
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {

            $("#editContactoModal").scrollTop(0);
        }

        //Função que apresentar os erros do Model State
        function displayValidationErrorsEdit(errors) {
            $.each(errors, function (idx, validationError) {

                var name = validationError.PropertyName.toString()/*.split(".")[1]*/;
                $("span[data-valmsg-for='" + name + "']").text(validationError.ErrorList[0]);

            });
        }

        var previewWrapper = document.querySelector("#tpl");
        previewWrapper.id = "";
        var previewTemplate = previewWrapper.innerHTML;
        previewWrapper.remove();

        var myDropzone = new Dropzone(document.getElementById("form"), {
            url: "@Url.Action("CreateContactoAnexoFotos")",
            paramName: "files",
            acceptedFiles: 'image/*' ,
            maxFiles: 1,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            createImageThumbnails: false,
            clickable: ".fileinput-button",


            dictFileTooBig: "O tamanho desta foto é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter esta foto (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 1 foto!",

            init: function() {
                let myDropzone = this;

                myDropzone.on("success", function (file) {
                    file.previewElement.querySelector(".remove").onclick = function () {
                        $.post("@Url.Action("DeleteContactoAnexoFoto")", { contactoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone.options.maxFiles = myDropzone.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetContactoAnexoFotos")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone.files.push(mockFile);

                        myDropzone.emit("addedfile", mockFile);
                        myDropzone.emit("complete", mockFile);
                        myDropzone.emit("success", mockFile);

                        myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                    });
                });
            }
        });

    });
</script>
