@model DateTime?

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

@if (Model.HasValue == true)
{
    <div class="input-group">
        <input id="@fieldName" name="@fieldName" type="date" value="@String.Format("{0:yyyy-MM-dd}", Model.Value.Date)" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-outline-secondary btn-datas" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </div>
    </div>
}
else
{
    <div class="input-group">
        <input id="@fieldName" name="@fieldName" type="date" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-outline-secondary btn-datas" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </div>
    </div>
}
