﻿@model IntranetSite.ViewModels.CreateEditConteudoViewModel

@{
    ViewBag.Title = "Editar Conteúdo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditConteudo", "FormEventos", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-9">
            <div class="form-horizontal">
                <h4>@Model.Conteudo.NomeTipoConteudo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Conteudo.IdTipoConteudo)
                @Html.HiddenFor(model => model.Conteudo.IdOrgao)
                @Html.HiddenFor(model => model.Conteudo.LabelLink1)
                @Html.HiddenFor(model => model.Conteudo.LabelLink2)
                @Html.HiddenFor(model => model.Conteudo.LabelLink3)
                @Html.HiddenFor(model => model.Conteudo.NomeTipoConteudo)
                @Html.HiddenFor(model => model.Conteudo.Id)
                @Html.HiddenFor(model => model.Conteudo.IUPI)
                @Html.HiddenFor(model => model.Conteudo.IsForEstudante)
                @Html.HiddenFor(model => model.Conteudo.DataCriacao)
                @Html.HiddenFor(model => model.Conteudo.CodigoOrgao)

                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Titulo, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Conteudo.Descricao, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataInicioPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataInicioPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataInicioPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataFimPublicacao, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataFimPublicacao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataFimPublicacao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.HoraInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.HoraInicio, new { htmlAttributes = new { @class = "form-control", Type = "time" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.HoraInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.DataFim, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.DataFim, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.DataFim, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Conteudo.HoraFim, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Conteudo.HoraFim, new { htmlAttributes = new { @class = "form-control", Type = "time" } })
                                @Html.ValidationMessageFor(model => model.Conteudo.HoraFim, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelLink1", Model.Conteudo.LabelLink1, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Link1, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Link1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelLink2", Model.Conteudo.LabelLink2, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Link2, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Link2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("model.Conteudo.LabelLink3", Model.Conteudo.LabelLink3, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Conteudo.Link3, new { htmlAttributes = new { @class = "form-control", Type = "url" } })
                        @Html.ValidationMessageFor(model => model.Conteudo.Link3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="mydrop_foto">
                    @Html.Label("Foto", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div id="actions" class="col-md-12">
                        <span class="btn btn-block btn-success fileinput-button foto dz-clickable">
                            <span class="fa fa-file"></span>
                            Escolher uma foto
                        </span>
                        @Html.ValidationMessage("ConteudoAnexoFoto", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="table table-striped" id="previews_foto">

                            </div>
                        </div>

                        <div id="tpl_foto">
                            <div id="template_foto" class="file-row">
                                    <div>
                                        <p class="name" data-dz-name></p>
                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>
                                    <div>
                                        <p class="size" data-dz-size></p>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" data-dz-remove class="btn btn-warning remove_foto">
                                            <span class="fa fa-times"></span>
                                            Remover
                                        </button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="mydrop_file">
                    @Html.Label("Anexos", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div id="actions" class="col-md-12">
                        <span class="btn btn-block btn-success fileinput-button file dz-clickable">
                            <span class="fa fa-file"></span>
                            Escolher um ficheiro
                        </span>
                        @Html.ValidationMessage("ConteudoAnexoFile", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="table table-striped" id="previews">

                            </div>
                        </div>

                        <div id="tpl">
                            <div id="template" class="file-row">
                                <div>
                                    <p class="name" data-dz-name></p>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>
                                    <p class="size" data-dz-size></p>
                                </div>
                                <div class="text-right">
                                    <button type="button" data-dz-remove class="btn btn-warning remove">
                                        <span class="fa fa-times"></span>
                                        Remover
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-danger" href="@Url.Action("EditConteudos", "Conteudos")">
                            <span class="fa fa-times"></span>
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-plus"></span>
                            Gravar Conteúdo
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @{
                Html.RenderPartial("CreateEditConteudoPropriedadesPartial", Model);
            }
        </div>
    </div>
}

    <script>
    $(document).ready(function () {
        var previewWrapper = document.querySelector("#tpl");
        previewWrapper.id = "";
        var previewTemplate = previewWrapper.innerHTML;
        previewWrapper.remove();

        var myDropzone = new Dropzone(document.getElementById("mydrop_file"), {
            url: "@Url.Action("CreateConteudoAnexoFiles")",
            paramName: "files",
            acceptedFiles: 'application/*',
            maxFiles: 10,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            previewsContainer: "#previews",
            createImageThumbnails: false,
            clickable: ".file",

            dictFileTooBig: "O tamanho deste ficheiro é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter este ficheiro (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 10 ficheiro",

            init: function() {
                let myDropzone = this;

                myDropzone.on("success", function (file) {
                    file.previewElement.querySelector(".remove").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFile")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone.options.maxFiles = myDropzone.options.maxFiles + 1;
                            }
                        });
                    }
                });

                $.get("@Url.Action("GetConteudoAnexoFiles")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone.files.push(mockFile);

                        myDropzone.emit("addedfile", mockFile);
                        myDropzone.emit("complete", mockFile);
                        myDropzone.emit("success", mockFile);

                        myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                    });
                });
            }
        });

        var previewWrapper_foto = document.querySelector("#tpl_foto");
        previewWrapper_foto.id = "";
        var previewTemplate_foto = previewWrapper_foto.innerHTML;
        previewWrapper_foto.remove();

        var myDropzone_foto = new Dropzone(document.getElementById("mydrop_foto"), {
            url: "@Url.Action("CreateConteudoAnexoFotos")",
            paramName: "files",
            acceptedFiles: 'image/*',
            maxFiles: 10,
            maxFilesize: 100,
            timeout: 0,
            uploadMultiple: true,
            previewTemplate: previewTemplate_foto,
            previewsContainer: "#previews_foto",
            createImageThumbnails: false,
            clickable: ".foto",

            dictFileTooBig: "O tamanho desta foto é demasiado grande! O tamanho máximo suportado é {{maxFilesize}}.",
            dictResponseError: "Ocorreu um erro ao submeter esta foto (Erro {{statusCode}})!",
            dictMaxFilesExceeded: "Só pode escolher no máximo 1 foto!",

            init: function() {
                let myDropzone_foto = this;

                myDropzone_foto.on("success", function (file) {
                    file.previewElement.querySelector(".remove_foto").onclick = function () {
                        $.post("@Url.Action("DeleteConteudoAnexoFotos")", { conteudoAnexoFileName: file.name }, function () {
                            if (file.isMockFile == true) {
                                myDropzone_foto.options.maxFiles = myDropzone_foto.options.maxFiles + 1;
                            }
                        });
                    }
                });



                $.get("@Url.Action("GetConteudoAnexoFotos")", function (data) {
                    data.forEach(function (file) {
                        let mockFile = { name: file.Name, size: file.Size, isMockFile: true };

                        myDropzone_foto.files.push(mockFile);

                        myDropzone_foto.emit("addedfile", mockFile);
                        myDropzone_foto.emit("complete", mockFile);
                        myDropzone_foto.emit("success", mockFile);

                        myDropzone_foto.options.maxFiles = myDropzone_foto.options.maxFiles - 1;
                    });
                });
            }
        });

    });
    </script>
