﻿@model IntranetSite.ViewModels.ListConteudosViewModel

@{
    /**/

    ViewBag.Title = "Eventos";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">
                <span class="fa fa-home"></span>
                
            </a>
        </li>
        <li class="breadcrumb-item active">
            @Model.TipoConteudo.Nome
        </li>
    </ol>
</nav>

@if (Model.ConteudosList.Count > 0)
{
    foreach (var item in Model.ConteudosList)
    {
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                @if (item.LinkFoto != "")
                {
                    <img style="width:100%; height:100%" src="@item.LinkFoto" />
                }

            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <h3>
                        <a data-toggle="modal" data-target="#detailsConteudoModal" data-id="@item.Id" data-intranetdetailsconteudoform="@Model.TipoConteudo.IntranetDetailsConteudoForm" href="#detailsConteudoModal">
                            @item.Titulo
                        </a>
                    </h3>
                    <div style="color: #767676">
                        <span class="fa fa-clock-o"></span> @item.DataInicioPublicacao.Value.ToShortDateString()
                        <span>&nbsp;&nbsp;&nbsp; @item.NomeOrgao</span>
                    </div>
                </div>
                <br />
                <div class="text-overflow">
                    <p class="comment more">
                        @item.Descricao
                    </p>
                </div>
            </div>
        </div>
        <hr />
    }

    <div class="modal fade" id="detailsConteudoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document" id="detailsConteudoModalDialog">
            <div id="detailsConteudoModalContent" class="modal-content">

            </div>

        </div>
        <div class="modal-dialog modal-dialog-centered text-center" role="document" id="loader" style="display:none">
            <div style="padding-left: 250px; padding-right: 250px; ">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        Não existem eventos para apresentar.
    </div>
}

<script>
    $(document).ready(function () {

        $("#detailsConteudoModal").on("hidden.bs.modal", function () {
            $('#detailsConteudoModalContent').empty();
        });

        $("#detailsConteudoModal").on("show.bs.modal", function (event) {
            var detailsConteudoModalButton = $(event.relatedTarget);
            var id = detailsConteudoModalButton.data("id");
            var intranetDetailsConteudoForm = detailsConteudoModalButton.data("intranetdetailsconteudoform");


            $('#detailsConteudoModalDialog').fadeOut();
            $('#loader').fadeIn();

            setTimeout(function () {
            $("#detailsConteudoModalContent").load("@Url.Action("LoadDetailsConteudoPartials","Conteudos")", { id: id, intranetDetailsConteudoForm: intranetDetailsConteudoForm }, function () {

                $('#detailsConteudoModalDialog').fadeIn();
                $('#loader').fadeOut();
            });
            }, 300);
        });

        var showChar = 200;
        var ellipsestext = "...";
        $('.more').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span>';

                $(this).html(html);
            }

        });
    });
</script>
