@if (TempData["warning"] != null && string.IsNullOrEmpty(TempData["warning"].ToString()) == false)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">
            <span class="fa fa-exclamation-triangle"></span>
            Aviso!
        </h4>
        @TempData["warning"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["success"] != null && string.IsNullOrEmpty(TempData["success"].ToString()) == false)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">
            <span class="fa fa-check-circle"></span>
            Sucesso!
        </h4>
        @TempData["success"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["info"] != null && string.IsNullOrEmpty(TempData["info"].ToString()) == false)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">
            <span class="fa fa-info-circle"></span>
            Informação
        </h4>
        @TempData["info"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["error"] != null && string.IsNullOrEmpty(TempData["error"].ToString()) == false)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" aria-label="Fechar">
        <h4 class="alert-heading">
            <span class="fa fa-exclamation-circle"></span>
            Erro!
        </h4>
        @TempData["error"]

        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
