﻿@using System.Configuration;

@using IntranetSite.App_Start;
@using IntranetSite.Clients;

@{
    string appTitle = ConfigurationManager.AppSettings["Aplicacao.Titulo"];

    ViewBag.Title = ViewBag.Title ?? appTitle;
}

<!doctype html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="@IntranetSession.Session.SelectedLinguagem.Symbol">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10,IE=11" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />


    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!-- jQuery validate library -->
    <script src="~/Scripts/jquery.validate.js"></script>

    <!-- Dropzone.JS library -->
    <script src="~/Scripts/dropzone-5.7.0/dist/dropzone.js"></script>

    <!-- Popper.JS library -->
    <script src="~/Scripts/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- ProgressBar.js library -->
    <script src="~/Scripts/progressBar.min.js"></script>

    <!-- Bootstrap-multiselect.js library: -->
    <script src="~/Scripts/bootstrap-multiselect.js"></script>



    @Styles.Render("~/Content/theme/all.css")

    <link rel="shortcut icon" href="~/favicon.ico?v=3" />

    <script>
        $(document).ready(function () {
            var bar = new ProgressBar.Line(intranetProgressBarContainer, {
                strokeWidth: 4,
                easing: "easeInOut",
                duration: 1400,
                color: "@IntranetSession.Session.AplicacaoPortalBase.CorPortalBase",
                trailColor: "white",
                trailWidth: 1,
                svgStyle: {
                    width: '100%',
                    height: '100%'
                }
            });

            bar.animate(1.0);

            @*$.get("@Url.Action("LoadProfilePartial")", function (data) {
                $("[data-toggle='popover']").popover({
                    container: "body",
                    trigger: "focus",
                    template: '<div class="popover portalbase-navbar-profile" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
                    html: true,
                    content: data
                });
            });*@


            $.get("@Url.Action("LoadProfilePartial")", function (data) {
                $("[data-toggle='popover']").popover({
                    container: "body",
                    template: '<div class="popover portalbase-navbar-profile" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
                    html: true,
                    content: data
                });
            });

            $('#intranetSidebarCollapse').click(function () {
                $('#intranetSidebar').toggleClass('active');
            });

            $("#searchPessoas").click(function () {
                var searchQuery = $("#searchPessoasSearchQuery").val();

                if (searchQuery != "") {
                    $("#searchPessoas").prop("disabled", true);
                    $("#searchPessoasButtonIcon").removeClass("fa fa-search").addClass("fa fa-circle-o-notch fa-spin");

                    $("#searchPessoasModalContent").load("@Url.Action("SearchPessoas")", { searchQuery: searchQuery }, function () {
                        $("#searchPessoasModal").modal("show");

                        $("#searchPessoasButtonIcon").removeClass("fa fa-circle-o-notch fa-spin").addClass("fa fa-search");
                        $("#searchPessoas").prop("disabled", false);
                    });
                }
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg portalbase-navbar">
        <span id="intranetSidebarCollapse" class="portalbase-navbar-sidebar-toggle">
            <img src=@Url.Content("~/Content/Images/menuresponsiveicon.png")>
        </span>

        <a href="@Url.Action("Index", "Home")" class="portalbase-app-square small" style="background-color: @IntranetSession.Session.AplicacaoPortalBase.CorPortalBase">
            <span>@IntranetSession.Session.AplicacaoPortalBase.SiglaPortalBase</span>
        </a>

        <span class="navbar-brand mr-auto portalbase-navbar-apptitle">@appTitle</span>

        <ul class="navbar-nav ml-auto">

            @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD"]) == true)
            {
                if (Autenticacao.IsLoggedIn() == true)
                {
                    <li class="nav-item">
                        <span class="fa fa-user fa-2x portalbase-navbar-icon" tabindex="0" data-toggle="popover" data-placement="bottom"></span>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Auth.UTAD.Shibboleth"]) == true)
                        {
                            <a class="nav-link portalbase-navbar-loginbutton" href="@Url.Action("Index", "Secure")" style="background-color: @IntranetSession.Session.AplicacaoPortalBase.CorPortalBase;">
                                Iniciar Sessão
                            </a>
                        }
                        else
                        {
                            <a class="nav-link portalbase-navbar-loginbutton" href=@Url.Action("Login", "Session") style="background-color: @IntranetSession.Session.AplicacaoPortalBase.CorPortalBase;">
                                Iniciar Sessão
                            </a>
                        }
                    </li>
                }
            }

            @if (IntranetSession.Session.Linguagens.Count > 0)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle portalbase-navbar-linguagens" title="@IntranetSession.Session.SelectedLinguagem.Titulo" href="#" role="button" data-toggle="dropdown">
                        @IntranetSession.Session.SelectedLinguagem.Ref
                    </a>
                    <div class="dropdown-menu portalbase-navbar-linguagens-menu">
                        @foreach (IntranetAssemblies.Models.QuoVadis.Aplicacoes.Linguagem item in IntranetSession.Session.Linguagens.Where(l => l.Symbol != IntranetSession.Session.SelectedLinguagem.Symbol))
                        {
                            <a class="dropdown-item" title="@item.Titulo" href="@Url.Action("ChangeLinguagem", new { symbol = item.Symbol })">
                                @item.Ref
                            </a>
                        }
                    </div>
                </li>
            }
        </ul>
    </nav>

    <div id="intranetProgressBarContainer" class="portalbase-progressbar-container"></div>

    <div class="d-flex">
        <nav id="intranetSidebar" class="portalbase-sidebar">
            @*<a title="APPS" href="https://www.campus.utad.pt/apps/" class="list-group-item list-group-item-action">
                    <span class="fa fa-user-circle-o"></span>
                    APPS
                    <span class="fa fa-angle-right"></span>
                </a>*@

            <a title="Início" href="@Url.Action("Index", "Home")" class="list-group-item list-group-item-action">
                <span class="fa fa-play-circle"></span>
                INÍCIO

            </a>




            <div class="input-group">
                <input id="searchPessoasSearchQuery" type="text" class="form-control" placeholder="pessoas.utad.pt">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchPessoas">
                        <span id="searchPessoasButtonIcon" class="fa fa-search"></span>
                    </button>
                </div>
            </div>

            <a title="PessoasUTAD" href="https://pessoas.utad.pt/" class="list-group-item list-group-item-action" target="_blank">
                <span class="fa fa-user-circle-o"></span>
                Pessoas da UTAD

            </a>
            @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Aplicacao.Publico"]) == false)
            {
                if (IntranetSession.Session.Contactos.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.Contactos);
                        }
                    </div>

                    <br />
                }

                if (IntranetSession.Session.TiposConteudoMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.TiposConteudoMenuLateral);
                        }
                    </div>

                    <br />
                }

                if (IntranetSession.Session.CategoriasMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.CategoriasMenuLateral);
                        }
                    </div>

                    <br />
                }

                if (IntranetSession.Session.MenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.MenuLateral);
                        }
                    </div>

                    <br />
                }

                <div id="favoritosMenuLateral" class="list-group">
                    @{
                        Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.FavoritosMenuLateral);
                    }
                </div>

                if (IntranetSession.Session.AplicacoesPortalBaseMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.AplicacoesPortalBaseMenuLateral);
                        }
                    </div>
                }
            }
            else
            {
                <br />
                if (IntranetSession.Session.NoticasMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.NoticasMenuLateral);
                        }
                    </div>
                }
                if (IntranetSession.Session.EventosMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.EventosMenuLateral);
                        }
                    </div>
                }
                if (IntranetSession.Session.OrgaosMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            //Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.OrgaosMenuLateral);

                            Html.RenderPartial("_MenuLateralOrgaosPartial", OrgaoContacto.OrgaoContactoMenu(0));
                        }
                    </div>

                }
                if (IntranetSession.Session.EstudarMenuLateral.Count > 0)
                {
                    <div class="list-group">
                        @{
                            Html.RenderPartial("_MenuLateralPartial", IntranetSession.Session.EstudarMenuLateral);
                        }
                    </div>
                }
            }
        </nav>

        <div class="modal fade" id="searchPessoasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div id="searchPessoasModalContent" class="modal-content"></div>
            </div>
        </div>

        <div class="col">
            <div class="portalbase-main">
                <div id="alerts">
                    @{
                        Html.RenderPartial("_AlertsPartial");
                    }
                </div>

                @RenderBody()
            </div>

            <footer class="portalbase-footer">
                <div class="pt-1 text-muted text-center">
                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["Aplicacao.GetFooterFromQuoVadis"]) == true)
                    {
                        <span><b><small>Universidade de Trás-os-Montes e Alto Douro - NSI @DateTime.Now.Year</small></b></span> <br />
                        <a href=@Url.Content(IntranetSession.Session.Footer.LinkContatos)><b><small>&#9642; Contatos</small></b></a>
                        <a href=@Url.Content(IntranetSession.Session.Footer.LinkPolPriv)><b><small>&#9642; Política de Privacidade</small></a>
                        <div>
                            <img src=@Url.Content("https://assets.utad.pt/images/" + IntranetSession.Session.Footer.FooterImage) alt="QREN" />
                            <span>
                                <a href="https://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance">
                                    <img height="32" width="88" src="https://www.w3.org/WAI/wcag2AAA" alt="Level Triple-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0">
                                </a>
                            </span>
                        </div>
                    }
                    else
                    {
                        <span><b><small>Universidade de Trás-os-Montes e Alto Douro - NSI @DateTime.Now.Year</small></b></span>
                        <div>
                            <img src=@Url.Content("~/Content/Images/qrenlogos.png") alt="QREN" />
                            <div>
                                <span>
                                    <a href="https://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance">
                                        <img height="32" width="88" src="https://www.w3.org/WAI/wcag2AAA" alt="Level Triple-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0">
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </footer>
        </div>
    </div>
</body>
</html>