@model IEnumerable<IntranetAssemblies.Models.MenuItem>

@foreach (var item in Model)
{
    @Html.IntranetMenuItem(item);

    if (item.MenuItemChildList.Count > 0)
    {
        if (item.MenuItemChildListIsOpen == true)
        {
            <div class="list-group collapse show" id="collapseSidebar-@item.Id">
                @{
                    Html.RenderPartial("_MenuLateralPartial", item.MenuItemChildList);
                }
            </div>
        }
        else
        {
            <div class="list-group collapse" id="collapseSidebar-@item.Id">
                @{
                    Html.RenderPartial("_MenuLateralPartial", item.MenuItemChildList);
                }
            </div>
        }
    }
}
