﻿@model IntranetSite.ViewModels.ContactosOrgaosViewModel
@using IntranetSite.Helpers;
@using IntranetSite.ViewModels;

<style>

    .col-md-10 {
        padding-left: 5px;
        line-height: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
</style>

@foreach (var item in Model.Orgaos)
{
    if (item.Orgao.IdOrgaoParent == 0)
    {
        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="@string.Concat("#orgaoCollapse", "Orgao")" name="@string.Concat("Orgaos", "MenuItem")" title="Orgãos da UTAD" aria-expanded="true">
            <span class="fa fa-search fa-fw"></span>
            Orgãos da UTAD
        </a>
        <div class="list-group collapse" id="@string.Concat("orgaoCollapse", "Orgao")">
            <div class="list-group-item list-group-item-action portalbase-sidebar-submenuitem">
                <span style="@string.Concat("padding-left:", Model.MenuItemPadding,"px;")">
                    <span class="fa fa-angle-double-right"></span>
                </span>
                <a class="portalbase-sidebar-submenuitem col-md-10" type="button" href="@Url.Action("Index", "Contactos", new { id = item.Orgao.Id })" title="@item.Orgao.Nome">
                    @item.Orgao.Codigo
                </a>
                <span class="float-right" type="button" data-toggle="collapse" data-target="@string.Concat("#orgaoCollapse", item.Orgao.Id)" aria-expanded="true" aria-controls="@string.Concat("#orgaoCollapse", item.Orgao.Id)">
                    <span name="0" class="fa fa-angle-double-down"></span>
                </span>
            </div>

            <div class="list-group collapse" id="@string.Concat("orgaoCollapse", item.Orgao.Id)">
                @{
                    Html.RenderPartial("_MenuLateralOrgaosPartial", OrgaoContacto.OrgaoContactoMenu(item.Orgao.Id));
                }
            </div>
        </div>
            }
            else
            {


        <div class="list-group-item list-group-item-action portalbase-sidebar-submenuitem">
            <span class="float-left" style="@string.Concat("padding-left:", Model.MenuItemPadding,"px;")">
                <span class="fa fa-angle-double-right"></span>
            </span>
            <a class="col-md-10" type="button" href="@Url.Action("Index", "Contactos", new { id = item.Orgao.Id })" title="@item.Orgao.Nome">
                @item.Orgao.Nome
            </a>
            @if (item.HasChild)
            {
            <span class="float-right" type="button" data-toggle="collapse" data-target="@string.Concat("#orgaoCollapse", item.Orgao.Id)" aria-expanded="true" aria-controls="@string.Concat("#orgaoCollapse", item.Orgao.Id)">
                <span name="0" class="fa fa-angle-double-down"></span>
            </span>
            }
        </div>
            <div class="list-group collapse" id="@string.Concat("orgaoCollapse", item.Orgao.Id)">
                @{
                    Html.RenderPartial("_MenuLateralOrgaosPartial", OrgaoContacto.OrgaoContactoMenu(item.Orgao.Id));
                }
            </div>
            }

            }
