@model IEnumerable<IntranetAssemblies.Models.QuoVadis.Pessoas.Pessoa>

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        <span class="fa fa-search"></span>
        pessoas.utad.pt - Procura
    </h5>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @if (Model.Count() > 0)
    {
        <div class="list-group">
            @foreach (IntranetAssemblies.Models.QuoVadis.Pessoas.Pessoa item in Model)
            {
                <a href="@string.Concat("https://pessoas.utad.pt/detalhe.php?iupi=", item.Iupi)" class="list-group-item list-group-item-action" target="_blank">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Nome</h5>
                    </div>

                    @foreach (IntranetAssemblies.Models.QuoVadis.Pessoas.PessoaPerfil itemPerfil in item.PessoaPerfisList)
                    {
                        if (itemPerfil.VisibilidadeCategoria == 2 || itemPerfil.VisibilidadeCategoria == 3)
                        {
                            <p class="mb-1">@itemPerfil.Categoria</p>
                        }

                        if (itemPerfil.VisibilidadeUo == 2 || itemPerfil.VisibilidadeUo == 3)
                        {
                            <p class="mb-1">@itemPerfil.Uo</p>
                        }
                    }
                </a>
            }
        </div>
    }
    else
    {
        <p>Não foram encontradas pessoas da UTAD!</p>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
</div>
