@using IntranetSite.App_Start;

<div class="row">
    @if (string.IsNullOrEmpty(IntranetSession.Session.FotoHTMLSrc) == false)
    {
        <div class="col-md-2">
            <img class="portalbase-navbar-profile-foto" src="@IntranetSession.Session.FotoHTMLSrc" />
        </div>
    }
    else
    {
        <div class="col-md-2 portalbase-navbar-profile-foto-container">
            <img src="@Url.Content("~/Content/Images/iconPerfil.png")" />
        </div>
    }

        <div class="col-md-10">
            <p>
                @IntranetSession.Session.Nome
            </p>

            @if (Autenticacao.IsAdmin() == true)
            {
                <p>
                    (ADMINISTRADOR)
                </p>
            }

            @if (Autenticacao.IsEstudante() == true)
            {
                <p>
                    <label><b>Regime:</b></label>  @IntranetSession.Session.Regime
                </p>
                <p>
                    <label><b>Número:</b></label> @IntranetSession.Session.Username
                </p>
            }

            @if (Autenticacao.IsTemporario() == true)
            {
                <p>
                    (CONTA TEMPORÁRIA)
                </p>
            }

            @if (Autenticacao.IsTemporario() == true)
            {
                <a href=@Url.Action("EditCredenciaisTemporarias", "Session", new { username = IntranetSession.Session.Username })>
                    O Meu Perfil
                </a>

                <span>|</span>
            }
            else if (Autenticacao.IsEstudante() == false)
            {
                <a href="https://www.campus.utad.pt/omeuperfil/Perfil/AlterarDadosPessoais">
                    O Meu Perfil
                </a>

                <span>|</span>
            }

            <a href=@Url.Action("Logout", "Session")>
                <span class="fa fa-sign-out"></span>
                Terminar Sessão
            </a>
        </div>
</div>
