﻿@model IntranetSite.ViewModels.CreateEditConteudoViewModel

<div class="form-horizontal">
    <h4>Propriedades do Conteúdo</h4>
    <hr />

    <div class="form-group">
        @Html.Label("Estado do Conteúdo", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.Conteudo.Estado, new SelectList(Model.ConteudoEstadosList, "Valor", "Nome"), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Visibilidade do Conteúdo", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.Conteudo.VisibilidadePublica, new SelectList(Model.ConteudoVisibilidadesList, "Valor", "Nome"), new { @class = "form-control" })
        </div>
    </div>

    <div id="conteudoVisibilidade" class="form-group" style="display: none">
        <div class="col-md-12">
            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#conteudoVisualizacaoModal">
                <span class="fa fa-eye"></span>
                Definir Visibilidade do Conteúdo
            </button>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Categorias do Conteúdo", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.ListBoxFor(model => model.Categorias, new SelectList(Model.CategoriasList, "Valor", "Nome"), new { @class = "form-control", @multiple = "multiple" })
        </div>
    </div>


</div>

<div class="modal fade" id="conteudoVisualizacaoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Visibilidade do Conteúdo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <h6>Tipos de Perfil</h6>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.PerfisVisibilidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearPerfisVisibilidadeButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.PerfilVisibilidade, new SelectList(Model.PerfisVisibilidadeList, "Valor", "Nome"), new { @class = "form-control" })
                                <div class="input-group-append">
                                    <button id="addPerfilVisibilidadeButton" class="btn btn-success" type="button">
                                        <span class="fa fa-plus"></span>
                                        Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <h6>Tipos de Cargo</h6>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.TiposCargosVisibilidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearTiposCargosVisibilidadeButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.TipoCargoVisibilidade, new SelectList(Model.TiposCargosVisibilidadeList, "Valor", "Nome"), new { @class = "form-control" })
                                <div class="input-group-append">
                                    <button id="addTipoCargoVisibilidadeButton" class="btn btn-success" type="button">
                                        <span class="fa fa-plus"></span>
                                        Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <h6>Órgãos</h6>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.OrgaosVisibilidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearOrgaosVisibilidadeButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.OrgaoVisibilidade, new SelectList(Model.OrgaosVisibilidadeList, "Valor", "Nome"), new { @class = "form-control" })
                                <div class="input-group-append">
                                    <button id="addOrgaoVisibilidadeButton" class="btn btn-success" type="button">
                                        <span class="fa fa-plus"></span>
                                        Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <h6>Pessoas</h6>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.PessoasVisibilidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearPessoasVisibilidadeButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PessoaVisibilidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Por favor insira ou um nome de utilizador ou um número mecanográfico (no formato \"alxxxxx\") válidos..." } })
                                <div class="input-group-append">
                                    <button id="addPessoaVisibilidadeButton" class="btn btn-success" type="button">
                                        <span class="fa fa-check"></span>
                                        Validar e Adicionar
                                    </button>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.PessoaVisibilidade, "", new { @class = "text-danger", @id = "PessoaVisibilidadeValidationMessage" })
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <h6>Grupos do QuoVadis</h6>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Conteudo.GruposQuoVadisVisibilidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <div class="input-group-append">
                                    <button id="clearGruposQuoVadisVisibilidadeButton" class="btn btn-warning" type="button">
                                        <span class="fa fa-eraser"></span>
                                        Apagar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.GrupoQuoVadisVisibilidade, new SelectList(Model.GruposQuoVadisVisibilidadeList, "Valor", "Nome"), new { @class = "form-control" })
                                <div class="input-group-append">
                                    <button id="addGrupoQuoVadisVisibilidadeButton" class="btn btn-success" type="button">
                                        <span class="fa fa-plus"></span>
                                        Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Conteudo_VisibilidadePublica").change(function () {
            if ($("#Conteudo_VisibilidadePublica").val() == "true") {
                $("#conteudoVisibilidade").fadeOut();
            }
            else {
                $("#conteudoVisibilidade").fadeIn();
            }
        }).change();

        $("#addPerfilVisibilidadeButton").click(function () {
            var perfilVisibilidade = $("#PerfilVisibilidade").val();

            if ($("#Conteudo_PerfisVisibilidade").val() != "") {
                perfilVisibilidade = ";" + perfilVisibilidade;
            }

            $("#Conteudo_PerfisVisibilidade").val($("#Conteudo_PerfisVisibilidade").val() + perfilVisibilidade);
        });

        $("#clearPerfisVisibilidadeButton").click(function () {
            $("#Conteudo_PerfisVisibilidade").val("");
        });

        $("#addTipoCargoVisibilidadeButton").click(function () {
            var tipoCargoVisibilidade = $("#TipoCargoVisibilidade").val();

            if ($("#Conteudo_TiposCargosVisibilidade").val() != "") {
                tipoCargoVisibilidade = ";" + tipoCargoVisibilidade;
            }

            $("#Conteudo_TiposCargosVisibilidade").val($("#Conteudo_TiposCargosVisibilidade").val() + tipoCargoVisibilidade);
        });

        $("#clearTiposCargosVisibilidadeButton").click(function () {
            $("#Conteudo_TiposCargosVisibilidade").val("");
        });

        $("#addOrgaoVisibilidadeButton").click(function () {
            var orgaoVisibilidade = $("#OrgaoVisibilidade").val();

            if ($("#Conteudo_OrgaosVisibilidade").val() != "") {
                orgaoVisibilidade = ";" + orgaoVisibilidade;
            }

            $("#Conteudo_OrgaosVisibilidade").val($("#Conteudo_OrgaosVisibilidade").val() + orgaoVisibilidade);
        });

        $("#clearOrgaosVisibilidadeButton").click(function () {
            $("#Conteudo_OrgaosVisibilidade").val("");
        });

        $("#addPessoaVisibilidadeButton").click(function () {
            $("#PessoaVisibilidadeValidationMessage").text("");

            var pessoaVisibilidade = $("#PessoaVisibilidade").val();

            if (pessoaVisibilidade != "") {
                $.get("@Url.Action("ValidateUsername")", { username: pessoaVisibilidade }, function (data) {
                    if (data == true) {
                        if ($("#Conteudo_PessoasVisibilidade").val() != "") {
                            pessoaVisibilidade = ";" + pessoaVisibilidade;
                        }

                        $("#Conteudo_PessoasVisibilidade").val($("#Conteudo_PessoasVisibilidade").val() + pessoaVisibilidade);
                    }
                    else {
                        $("#PessoaVisibilidadeValidationMessage").text("Tem de introduzir um nome de utilizador ou um número mecanográfico (no formato \"alxxxxx\") válidos!");
                    }
                });
            }
            else {
                $("#PessoaVisibilidadeValidationMessage").text("Tem de preencher este campo!");
            }
        });

        $("#clearPessoasVisibilidadeButton").click(function () {
            $("#Conteudo_PessoasVisibilidade").val("");
        });

        $("#addGrupoQuoVadisVisibilidadeButton").click(function () {
            var grupoQuoVadisVisibilidade = $("#GrupoQuoVadisVisibilidade").val();

            if ($("#Conteudo_GruposQuoVadisVisibilidade").val() != "") {
                grupoQuoVadisVisibilidade = ";" + grupoQuoVadisVisibilidade;
            }

            $("#Conteudo_GruposQuoVadisVisibilidade").val($("#Conteudo_GruposQuoVadisVisibilidade").val() + grupoQuoVadisVisibilidade);
        });

        $("#clearGruposQuoVadisVisibilidadeButton").click(function () {
            $("#Conteudo_GruposQuoVadisVisibilidade").val("");
        });

        var idConteudo = $('#Conteudo_Id').val();
        $('#Categorias').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            enableFullValueFiltering: true,
            onChange: function (option, checked, select) {
                var idCategoria = $(option).val();
                if (idCategoria != null) {
                    $.get("@Url.Action("CheckCategoria")", { idConteudo: idConteudo, idCategoria: idCategoria, check: checked }, function (data) {
                        if (data == true) {

                        }
                        else {

                        }
                    });
                }
                else {
                    $.get("@Url.Action("CheckCategoria")", { idConteudo: idConteudo, idCategoria: 0, check: checked }, function (data) {
                    if (data == true) {
                       
                    }
                    else {
                       
                    }
                });
                }
            },
            buttonWidth: '110%',
            buttonText: function (options, select) {
                if (options.length === 0) {
                    return 'Sem Selecionados';
                }
                else if (options.length > 3) {
                    return options.length + ' Selecionados!';
                }
                else {
                    var labels = [];
                    options.each(function () {
                        if ($(this).attr('label') !== undefined) {
                            labels.push($(this).attr('label'));
                        }
                        else {
                            labels.push($(this).html());
                        }
                    });
                    return labels.join(', ') + '';
                }
            },
            nonSelectedText: 'Sem Selecionados',
            selectAllText: 'Selecionar Tudo',
            filterPlaceholder: 'Procurar...'

        });
    });
</script>