﻿
@model IntranetSite.ViewModels.DetailsConteudoPartialViewModel

<hr />
<div class="small">
    <div class="row">
        <div class="col-md-10">
            @Html.DisplayNameFor(model => model.Conteudo.NomeTipoConteudo):
            @Model.Conteudo.NomeTipoConteudo
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10">
            @Html.DisplayNameFor(model => model.Conteudo.NomeOrgao):
            @Model.Conteudo.NomeOrgao
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Conteudo.DataInicioPublicacao):
            @Model.Conteudo.DataInicioPublicacao.Value.ToShortDateString()
        </div>

        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Conteudo.DataFimPublicacao):

            @Model.Conteudo.DataFimPublicacao.Value.ToShortDateString()
        </div>
    </div>
</div>
